.menu-top {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
  height: 1.48%;
  position: fixed;
  inset: 0;
  background: #FFFFFF;
}

.menu-top__logo {
  position: absolute;
  width: 8.6%;
  height: 29.93px;
  inset: 25.36px 9.17%;
}

.menu-top__left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 31.67%;
  height: 32px;
  position: absolute;
  inset: 24px 18.75%;
}

.menu-top__item {
  width: 2.78%px;
  height: 20px;
  padding: 6px 0%;
  position: static;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(10px + 4 * (100vw / 1440));
  line-height: 20px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
  margin: 0px 2.22%;
}

.menu-top__item_main {
  color: #2E1AAD;
}

.menu-top__right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 40px;
  position: absolute;
  inset: 20px 53.68%;
}

@media (max-width: 375px) {
  .menu-top__right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-top__employers {
  width: 6.60%;
  height: 20px;
  position: static;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 6 * (100vw / 1440));
  line-height: 20px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
  margin: 10px 2.22% 10px 0%;
}

@media (max-width: 375px) {
  .menu-top__employers {
    width: 20%;
    position: absolute;
    inset: 0% 2%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .menu-top__employers {
    width: 20%;
    position: absolute;
    top: -20%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .menu-top__employers {
    width: 20%;
    position: absolute;
    top: -20%;
  }
}

.menu-top__headhunters {
  width: 7.85%;
  height: 20px;
  position: static;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 6 * (100vw / 1440));
  color: #999999;
  margin: 0.69% 0%;
}

@media (max-width: 375px) {
  .menu-top__headhunters {
    width: 25%;
    position: absolute;
    inset: 60% 2%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .menu-top__headhunters {
    width: 30%;
    position: absolute;
    top: 40%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .menu-top__headhunters {
    width: 30%;
    position: absolute;
    top: 40%;
  }
}

.menu-top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 14.86%;
  height: 40px;
  margin-left: 3.33%;
}

.menu-top__buttons :hover {
  border-color: red;
  background-color: #999999;
}

@media (max-width: 375px) {
  .menu-top__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .menu-top__buttons {
    position: absolute;
    left: 15%;
  }
}

.menu-top__login {
  width: 50%;
  height: 40px;
  border-radius: 8px;
  border-color: #2E1AAD;
  background-color: #FFFFFF;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 6 * (100vw / 1440));
  text-align: center;
  color: #2E1AAD;
}

@media (max-width: 375px) {
  .menu-top__login {
    width: 13%;
    height: 60%;
    position: absolute;
    inset: 0% 25%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .menu-top__login {
    width: 20%;
    height: 65%;
    position: absolute;
    inset: -10% 20.5%;
  }
}

.menu-top__signup {
  width: 50%;
  height: 40px;
  margin: 0px 0% 0px 6.54%;
  border-radius: 8px;
  border-color: #2E1AAD;
  background-color: #2E1AAD;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 6 * (100vw / 1440));
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
}

@media (min-width: 376px) and (max-width: 768px) {
  .menu-top__signup {
    width: 20%;
    height: 67%;
    position: absolute;
    inset: 70% 14%;
  }
}

@media (max-width: 375px) {
  .menu-top__signup {
    width: 13%;
    height: 65%;
    position: absolute;
    inset: 70% 19%;
  }
}

.search-field__content {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
  height: 763px;
  position: absolute;
  inset: 81px 0%;
  background-color: #F5F7FA;
}

.search-field__title {
  width: 37.92%;
  height: 120px;
  position: absolute;
  inset: 28.57% 11.47%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(5px + 43 * (100vw / 1440));
  line-height: 60px;
  color: #231F20;
}

@media (max-width: 375px) {
  .search-field__title {
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 40% 11.47%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__title {
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 40% 11.47%;
  }
}

.search-field__subtitle {
  width: 33.61%;
  height: 60px;
  position: absolute;
  inset: 366px 11.53%;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(10px + 8 * (100vw / 1440));
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__subtitle {
    width: 80%;
    height: 30%;
    position: absolute;
    inset: 50% 11.47%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__subtitle {
    width: 80%;
    height: 30%;
    position: absolute;
    inset: 50% 11.47%;
  }
}

.search-field__picture {
  width: 40.63%;
  height: 57.14%;
  position: absolute;
  inset: 8.1% 51.46%;
}

@media (max-width: 375px) {
  .search-field__picture {
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 5% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__picture {
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 5% 0;
  }
}

.search-field__details {
  width: 100%;
  height: 12.58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 72.74%;
  border-radius: 8px;
  background-color: #FFFFFF;
}

@media (max-width: 375px) {
  .search-field__details {
    height: 25%;
    top: 65%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__details {
    height: 25%;
    top: 65%;
  }
}

.search-field__first-field {
  width: 28.38%;
  height: 46px;
  padding-left: 1.44%;
  border-radius: 8px;
  position: absolute;
  inset: 22px 2.88%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(12px + 4 * (100vw / 1440));
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__first-field {
    width: 40%;
    height: 25%;
    top: 20%;
    left: 5%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__first-field {
    width: 40%;
    height: 25%;
    top: 20%;
    left: 5%;
  }
}

.search-field__second-field {
  width: 24.77%;
  height: 46px;
  padding-left: 1.44%;
  border-radius: 8px;
  position: absolute;
  inset: 22px 34.86%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 22px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__second-field {
    width: 40%;
    height: 25%;
    top: 20%;
    left: 53%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__second-field {
    width: 40%;
    height: 25%;
    top: 20%;
    left: 53%;
  }
}

.search-field__third-field {
  width: 19.91%;
  height: 52px;
  padding-left: 1.44%;
  border-radius: 8px;
  position: absolute;
  inset: 22px 63.24%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 22px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__third-field {
    width: 43%;
    height: 27%;
    top: 60%;
    left: 5%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__third-field {
    width: 43%;
    height: 27%;
    top: 60%;
    left: 5%;
  }
}

.search-field__fourth-field:hover {
  border-color: red;
  background-color: #999999;
}

.search-field__fourth-field {
  width: 10.36%;
  height: 52px;
  border-radius: 8px;
  position: absolute;
  inset: 22px 86.76%;
  background: #2E1AAD;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(12px + 4 * (100vw / 1440));
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .search-field__fourth-field {
    width: 43%;
    height: 27%;
    top: 59%;
    left: 53%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .search-field__fourth-field {
    width: 43%;
    height: 27%;
    top: 59%;
    left: 53%;
  }
}

.for-candidates {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
}

.for-candidates__title {
  position: absolute;
  inset: 956px 11.3%;
  width: 20.63%;
  margin-bottom: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(20px + 20 * (100vw / 1440));
  color: #231F20;
}

@media (max-width: 375px) {
  .for-candidates__title {
    width: 100%;
    position: absolute;
    inset: 120% 11.3%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-candidates__title {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .for-candidates__title {
    width: 100%;
  }
}

.for-candidates__text {
  width: 40%;
  height: 418px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 1036px;
}

@media (max-width: 375px) {
  .for-candidates__text {
    width: 80%;
    height: 418px;
    position: absolute;
    top: 155%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-candidates__text {
    width: 80%;
    height: 200px;
    position: absolute;
    top: 155%;
  }
}

.for-candidates__subtitle {
  width: 90%;
  height: 26px;
  margin-bottom: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 10 * (100vw / 1440));
  color: #231F20;
}

.for-candidates__content {
  width: 90%;
  height: 48px;
  margin-bottom: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 8 * (100vw / 1440));
  color: #999999;
}

.for-candidates__picture {
  width: 45%;
  height: 530px;
  position: absolute;
  inset: 959px 50%;
}

@media (max-width: 375px) {
  .for-candidates__picture {
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 127% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-candidates__picture {
    width: 140%;
    height: 45%;
    position: absolute;
    inset: 110% 0;
  }
}

.for-employers {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
}

.for-employers__title {
  position: absolute;
  inset: 1648px 50%;
  width: 19.16%;
  margin-bottom: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(20px + 20 * (100vw / 1440));
  color: #231F20;
}

@media (max-width: 375px) {
  .for-employers__title {
    width: 100%;
    position: absolute;
    inset: 212% 11.3%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-employers__title {
    width: 100%;
    inset: 222% 52.5%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .for-employers__title {
    width: 100%;
  }
}

.for-employers__text {
  width: 40%;
  height: 502px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  inset: 1752px 50%;
}

@media (max-width: 375px) {
  .for-employers__text {
    width: 80%;
    height: 418px;
    position: absolute;
    top: 245%;
    left: 15%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-employers__text {
    width: 80%;
    height: 418px;
    position: absolute;
    top: 245%;
    left: 15%;
  }
}

.for-employers__subtitle {
  width: 90%;
  height: 26px;
  margin-bottom: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(10px + 8 * (100vw / 1440));
  color: #231F20;
}

.for-employers__content {
  width: 90%;
  height: 48px;
  margin-bottom: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 8 * (100vw / 1440));
  color: #999999;
}

.for-employers__button:hover {
  border-color: red;
  background-color: #999999;
}

.for-employers__button {
  width: 24.81%;
  height: 52px;
  position: absolute;
  inset: 514px 0% 0px;
  background: #2E1AAD;
  border-radius: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 8 * (100vw / 1440));
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .for-employers__button {
    width: 35%;
    height: 8%;
    position: absolute;
    inset: 110% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-employers__button {
    width: 25%;
    height: 8%;
    position: absolute;
    inset: 105% 0;
  }
}

.for-employers__picture {
  width: 45%;
  height: 530px;
  position: absolute;
  inset: 1625px 5%;
}

@media (max-width: 375px) {
  .for-employers__picture {
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 215% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-employers__picture {
    width: 140%;
    height: 45%;
    position: absolute;
    inset: 203% -40%;
  }
}

.for-headhunters {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
}

.for-headhunters__title {
  width: 22.71%;
  position: absolute;
  inset: 2390px 11.3%;
  margin-bottom: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(20px + 20 * (100vw / 1440));
  color: #231F20;
}

@media (max-width: 375px) {
  .for-headhunters__title {
    width: 60%;
    position: absolute;
    inset: 315% 11.3%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-headhunters__title {
    width: 100%;
    inset: 322% 11.3%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .for-headhunters__title {
    width: 100%;
  }
}

.for-headhunters__text {
  width: 40%;
  height: 296px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  inset: 2494px 11.3%;
}

@media (max-width: 375px) {
  .for-headhunters__text {
    width: 80%;
    position: absolute;
    top: 345%;
    left: 15%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-headhunters__text {
    width: 80%;
    position: absolute;
    top: 345%;
    left: 15%;
  }
}

.for-headhunters__subtitle {
  width: 90%;
  height: 26px;
  margin-bottom: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 10 * (100vw / 1440));
  color: #231F20;
}

.for-headhunters__content {
  width: 90%;
  height: 48px;
  margin-bottom: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 8 * (100vw / 1440));
  color: #999999;
}

.for-headhunters__button:hover {
  border-color: red;
  background-color: #999999;
}

.for-headhunters__button {
  width: 28.52%;
  height: 52px;
  position: absolute;
  inset: 292px 376px 0px 0px;
  background: #2E1AAD;
  border-radius: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(8px + 8 * (100vw / 1440));
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .for-headhunters__button {
    width: 35%;
    height: 10%;
    position: absolute;
    inset: 82% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-headhunters__button {
    width: 25%;
    height: 10%;
    position: absolute;
    inset: 82% 0;
  }
}

.for-headhunters__picture {
  width: 45%;
  height: 530px;
  position: absolute;
  inset: 2291px 50%;
}

@media (max-width: 375px) {
  .for-headhunters__picture {
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 317% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .for-headhunters__picture {
    width: 140%;
    height: 45%;
    position: absolute;
    inset: 303% 0;
  }
}

.client__content {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
  height: 846px;
  position: absolute;
  inset: 2941px 0%;
  background: #ECF8FE;
}

.client__title {
  width: 23.68%;
  height: 56px;
  margin-top: 112px;
  position: absolute;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(20px + 20 * (100vw / 1440));
  color: #231F20;
}

@media (max-width: 375px) {
  .client__title {
    width: 100%;
    position: absolute;
    inset: -10% 10%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__title {
    width: 100%;
    position: absolute;
    inset: -11% 10%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .client__title {
    width: 100%;
  }
}

.client__subtitle {
  width: 29.65%;
  height: 30px;
  margin-top: 176px;
  position: absolute;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 10 * (100vw / 1440));
  color: #999999;
}

@media (max-width: 375px) {
  .client__subtitle {
    width: 80%;
    position: absolute;
    inset: -10% 10%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__subtitle {
    width: 100%;
    position: absolute;
    inset: -13% 10%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .client__subtitle {
    width: 100%;
  }
}

.client__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 262px;
}

@media (max-width: 375px) {
  .client__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25%;
  }
}

.client__item {
  width: 33.3%;
  height: 410px;
  margin-right: 2.63%;
  position: relative;
  border-radius: 16px;
  background: #FFFFFF;
  border-radius: 8px;
}

@media (max-width: 375px) {
  .client__item {
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__item {
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
  }
}

.client__icon-star {
  width: 18.57%;
  height: 42.02px;
  position: absolute;
  inset: 32px 11.43%;
}

@media (max-width: 375px) {
  .client__icon-star {
    width: 13%;
    position: absolute;
    inset: 3% 10%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__icon-star {
    width: 9%;
    position: absolute;
    inset: 7% 10%;
  }
}

.client__item-title {
  position: absolute;
  inset: 100px 11.4%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 12.55556px;
  color: #231F20;
}

@media (max-width: 375px) {
  .client__item-title {
    width: 75%;
    position: absolute;
    inset: 20% 10%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__item-title {
    width: 75%;
    position: absolute;
    inset: 30% 10%;
  }
}

.client__item-text {
  width: 77.14%;
  height: 96px;
  position: absolute;
  inset: 144px 11.4%;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 8 * (100vw / 1440));
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

@media (max-width: 375px) {
  .client__item-text {
    width: 75%;
    position: absolute;
    inset: 30% 10%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__item-text {
    width: 75%;
    position: absolute;
    inset: 40% 10%;
  }
}

.client__picture {
  width: 11.4%;
  height: 40px;
  position: absolute;
  inset: 335px 11.4%;
}

@media (max-width: 375px) {
  .client__picture {
    position: absolute;
    inset: 70% 11.4%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__picture {
    position: absolute;
    inset: 75% 9%;
  }
}

.client__name {
  position: absolute;
  inset: 332px 26.29%;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 8 * (100vw / 1440));
  color: #231F20;
}

@media (max-width: 375px) {
  .client__name {
    position: absolute;
    inset: 70% 26.29%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__name {
    position: absolute;
    inset: 75% 22%;
  }
}

.client__position {
  position: absolute;
  inset: 354px 26.29%;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 6 * (100vw / 1440));
  color: #999999;
}

@media (max-width: 375px) {
  .client__position {
    position: absolute;
    inset: 80% 26.29%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .client__position {
    position: absolute;
    inset: 85% 22%;
  }
}

.numbers {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
}

.numbers__title {
  position: absolute;
  width: 38.89%;
  height: 56px;
  inset: 3907px 11.3%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(15px + 25 * (100vw / 1440));
  line-height: 56px;
  color: #231F20;
}

@media (max-width: 375px) {
  .numbers__title {
    width: 100%;
    inset: 3840px 11.3%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .numbers__title {
    width: 100%;
    inset: 3840px 11.3%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .numbers__title {
    width: 100%;
  }
}

.numbers__subtitle {
  position: absolute;
  width: 34.72%;
  height: 32px;
  inset: 3971px 11.3%;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 10 * (100vw / 1440));
  color: #999999;
}

@media (max-width: 375px) {
  .numbers__subtitle {
    width: 100%;
    inset: 3900px 11.3%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .numbers__subtitle {
    width: 100%;
    inset: 3900px 11.3%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .numbers__subtitle {
    width: 100%;
  }
}

.numbers__details {
  width: 79.17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 4059px;
}

@media (max-width: 375px) {
  .numbers__details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    top: 3970px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .numbers__details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    top: 3970px;
  }
}

.numbers__item {
  width: 25%;
  height: 266px;
  margin-right: 2.63%;
  position: relative;
  background: #F5F7FA;
  border-radius: 16px;
}

@media (max-width: 375px) {
  .numbers__item {
    width: 100%;
    height: 150px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .numbers__item {
    width: 100%;
    height: 200px;
  }
}

.numbers__item-picture {
  position: absolute;
  width: 38.35%;
  height: 90.13px;
  inset: 43.87px 29%;
}

@media (max-width: 375px) {
  .numbers__item-picture {
    position: absolute;
    inset: 10px 29%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .numbers__item-picture {
    position: absolute;
    inset: 30px 29%;
  }
}

.numbers__item-amount {
  width: 100%;
  height: 56px;
  position: absolute;
  top: 148px;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(20px + 20 * (100vw / 1440));
  color: #231F20;
}

@media (max-width: 375px) {
  .numbers__item-amount {
    position: absolute;
    inset: 55% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .numbers__item-amount {
    position: absolute;
    inset: 55% 0;
  }
}

.numbers__item-description {
  width: 100%;
  height: 32px;
  position: absolute;
  top: 202px;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(10px + 8 * (100vw / 1440));
  color: #999999;
}

@media (max-width: 375px) {
  .numbers__item-description {
    position: absolute;
    inset: 78% 0;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .numbers__item-description {
    position: absolute;
    inset: 78% 0;
  }
}

.news {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
}

.news_title-general {
  position: absolute;
  width: 7.43%;
  height: 56px;
  inset: 4432px 11.3%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(20px + 20 * (100vw / 1440));
  color: #231F20;
}

@media (min-width: 376px) and (max-width: 768px) {
  .news_title-general {
    inset: 4460px 11.3%;
  }
}

.news__details {
  width: 77.08%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 4544px;
}

@media (max-width: 375px) {
  .news__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .news__details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 120px;
  }
}

.news_item {
  width: 33.3%;
  margin-right: 2%;
  position: relative;
  border-radius: 16px;
}

@media (max-width: 375px) {
  .news_item {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 12%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .news_item {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 2%;
  }
}

.news_icon {
  width: 100%;
  border-radius: 8px;
}

.news__title {
  width: 100%;
  position: absolute;
  top: 226px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(10px + 10 * (100vw / 1440));
  color: #231F20;
}

@media (max-width: 375px) {
  .news__title {
    width: 100%;
    position: absolute;
    inset: 0% 110%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .news__title {
    width: 100%;
    position: absolute;
    inset: 0% 110%;
    font-size: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .news__title {
    font-size: 17px;
  }
}

.news_content {
  position: absolute;
  top: 266px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(7px + 9 * (100vw / 1440));
  color: #999999;
}

@media (max-width: 375px) {
  .news_content {
    width: 130%;
    position: absolute;
    inset: 52% 110%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .news_content {
    width: 130%;
    position: absolute;
    inset: 40% 110%;
    font-size: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .news_content {
    font-size: 14px;
  }
}

.cookies {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
  height: 134px;
  position: absolute;
  inset: 4908px 0%;
  background: #999999;
}

.cookies__text-bold {
  position: absolute;
  width: 36.39%;
  inset: 20px 25.42%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(7px + 7 * (100vw / 1440));
  line-height: 16px;
  color: #231F20;
}

@media (max-width: 375px) {
  .cookies__text-bold {
    width: 80%;
    position: absolute;
    inset: 6px 11.5%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .cookies__text-bold {
    width: 40%;
    height: 18%;
    position: absolute;
    inset: 5% 14.9%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .cookies__text-bold {
    width: 50%;
    position: absolute;
    inset: 8% 22.9%;
  }
}

.cookies__text-normal {
  position: absolute;
  width: 36.39%;
  height: 86px;
  inset: 37px 25.42%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: calc(6px + 8 * (100vw / 1440));
  text-align: justify;
  line-height: 16px;
  color: #231F20;
}

@media (max-width: 375px) {
  .cookies__text-normal {
    width: 80%;
    position: absolute;
    inset: 20px 12%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .cookies__text-normal {
    width: 55%;
    height: 18%;
    position: absolute;
    inset: 15% 15%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .cookies__text-normal {
    width: 40%;
    position: absolute;
    inset: 21% 23%;
  }
}

.cookies__button:hover {
  border-color: red;
  background-color: #404040;
}

.cookies__button {
  width: 7.78%;
  height: 40px;
  position: absolute;
  inset: 49px 64.93%;
  background: #231F20;
  border-radius: 100px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: calc(7px + 7 * (100vw / 1440));
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .cookies__button {
    width: 20%;
    height: 18%;
    position: absolute;
    inset: 102px 40%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .cookies__button {
    width: 12%;
    height: 20%;
    position: absolute;
    inset: 40% 73%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .cookies__button {
    width: 10%;
    height: 25%;
  }
}

.other-info {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 11.3%;
  height: 360px;
  position: absolute;
  inset: 5042px 0%;
  background: #0B0D17;
}

.other-info__i-tapp {
  position: absolute;
  left: 11.3%;
  top: 64px;
}

.other-info__i-tapp-header {
  position: static;
  width: 7.57px;
  height: 37px;
  inset: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 40px 0px;
}

.other-info__i-tapp-text {
  position: static;
  inset: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 6 * (100vw / 1440));
  color: #D9DBE1;
  margin: 8px 0px;
}

.other-info__company {
  position: absolute;
  left: 44.44%;
  top: 17.78%;
}

@media (max-width: 375px) {
  .other-info__company {
    position: absolute;
    left: 50%;
    top: 15%;
  }
}

.other-info__company-header {
  position: static;
  width: 15%;
  height: 28px;
  inset: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(12px + 8 * (100vw / 1440));
  color: #FFFFFF;
  margin: 24px 0px;
}

@media (max-width: 375px) {
  .other-info__company-header {
    position: absolute;
    inset: -35% 0%;
  }
}

.other-info__company-text:hover {
  border-radius: 8px;
  background-color: #999999;
}

.other-info__company-text {
  position: static;
  height: 26px;
  inset: 0;
  font-size: calc(10px + 6 * (100vw / 1440));
  color: #D9DBE1;
  margin: 12px 0px;
}

@media (max-width: 375px) {
  .other-info__company-text {
    height: 5%;
  }
}

.other-info__jobs {
  position: absolute;
  left: 59.38%;
  top: 17.78%;
}

@media (max-width: 375px) {
  .other-info__jobs {
    position: absolute;
    left: 50%;
    top: 65%;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .other-info__jobs {
    position: absolute;
    left: 70%;
  }
}

@media (min-width: 769px) and (max-width: 1650px) {
  .other-info__jobs {
    position: absolute;
    left: 65%;
  }
}

.other-info__jobs-header {
  position: static;
  width: 15%;
  height: 28px;
  inset: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: calc(12px + 8 * (100vw / 1440));
  color: #FFFFFF;
  margin: 24px 0px;
}

@media (max-width: 375px) {
  .other-info__jobs-header {
    position: absolute;
    inset: -40% 0%;
  }
}

.other-info__jobs-text:hover {
  border-radius: 8px;
  background-color: #999999;
}

.other-info__jobs-text {
  position: static;
  height: 26px;
  inset: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: calc(10px + 6 * (100vw / 1440));
  color: #D9DBE1;
  margin: 12px 0px;
}

@media (max-width: 375px) {
  .other-info__jobs-text {
    height: 5%;
  }
}
/*# sourceMappingURL=styles.css.map */