* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #231F20;
}

/* @use "sass:math";
@function rem($px, $base: $base-font-size) {
   @return math.div($px, $base) * 1rem;
} */
.menu-top {
  width: 100%;
  min-height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #FFFFFF;
}

.menu-top__container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-top__logo {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .menu-top__logo {
    min-width: 25%;
  }
}

@media (max-width: 375px) {
  .menu-top__logo {
    min-width: 20%;
  }
}

.menu-top__left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px 0 18px;
  padding-left: 60px;
}

@media (max-width: 1400px) {
  .menu-top__left-nav {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin: 0 30px 0 10px;
    padding-left: 40px;
  }
}

@media (max-width: 1100px) {
  .menu-top__left-nav {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin: 0 20px 0 10px;
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .menu-top__left-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 0 10px;
    padding-left: 10px;
  }
}

.menu-top__item {
  max-height: 20px;
  margin-left: 0;
  margin-right: 42px;
  font-size: 0.9rem;
  color: #999999;
}

.menu-top__item_main {
  color: #2E1AAD;
}

@media (max-width: 1650px) {
  .menu-top__item {
    margin-right: 25px;
  }
}

@media (max-width: 1100px) {
  .menu-top__item {
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 0.8rem;
  }
}

.menu-top__item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu-top__right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .menu-top__right-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu-top__buttons {
  min-width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.menu-top__buttons :hover {
  border-color: red;
  background-color: #999999;
  cursor: pointer;
}

@media (max-width: 1650px) {
  .menu-top__buttons {
    min-width: 220px;
    margin-left: 20px;
  }
}

@media (max-width: 1400px) {
  .menu-top__buttons {
    min-width: 180px;
  }
}

@media (max-width: 1100px) {
  .menu-top__buttons {
    min-width: 200px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .menu-top__buttons {
    min-width: 120px;
  }
}

@media (max-width: 375px) {
  .menu-top__buttons {
    min-width: 100px;
  }
}

.menu-top__login {
  min-width: 45%;
  min-height: 40px;
  padding: 0;
  border-radius: 8px;
  background: #FFFFFF;
  font-size: 0.9rem;
  color: #2E1AAD;
}

@media (max-width: 1100px) {
  .menu-top__login {
    min-width: 45%;
    min-height: 30px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .menu-top__login {
    font-size: 0.7rem;
  }
}

.menu-top__signup {
  min-width: 45%;
  min-height: 40px;
  padding: 0;
  margin-left: 18px;
  border-radius: 8px;
  background: #2E1AAD;
  font-size: 0.9rem;
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  .menu-top__signup {
    min-height: 30px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .menu-top__signup {
    margin-left: 12px;
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .menu-top__signup {
    min-width: 50%;
    margin-left: 8px;
  }
}

.search-field {
  min-height: 760px;
  background-color: #F5F7FA;
}

.search-field__content-top {
  max-width: 80%;
  margin: 0 auto;
  padding: 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 375px) {
  .search-field__content-top {
    padding: 20px 0 0;
  }
}

@media (max-width: 768px) {
  .search-field__content-top {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .search-field__content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.search-field__text {
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-field__title {
  font-weight: 100%;
  min-height: 120px;
  font-size: 3rem;
  line-height: 60px;
}

@media (max-width: 375px) {
  .search-field__title {
    min-height: 20px;
    margin-top: 15px;
    font-size: 0.8rem;
    line-height: 10px;
  }
}

@media (max-width: 768px) {
  .search-field__title {
    min-height: 40px;
    margin-top: 15px;
    font-size: 0.9rem;
    line-height: 20px;
  }
}

@media (max-width: 1100px) {
  .search-field__title {
    min-height: 60px;
    margin-top: 30px;
    font-size: 2rem;
    line-height: 40px;
  }
}

.search-field__subtitle {
  font-weight: 100%;
  min-height: 60px;
  margin-top: 28px;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 30px;
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__subtitle {
    min-height: 15px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.5rem;
    line-height: 5px;
  }
}

@media (max-width: 768px) {
  .search-field__subtitle {
    min-height: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.6rem;
    line-height: 10px;
  }
}

@media (max-width: 1100px) {
  .search-field__subtitle {
    min-height: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 20px;
  }
}

.search-field__picture {
  min-width: 50%;
  min-height: 436px;
  font-weight: normal;
  font-size: 0.7rem;
}

@media (max-width: 375px) {
  .search-field__picture {
    min-height: 100px;
  }
}

@media (max-width: 768px) {
  .search-field__picture {
    min-height: 450px;
  }
}

@media (max-width: 1100px) {
  .search-field__picture {
    max-height: 400px;
  }
}

.search-field__details {
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 80%;
  margin: 48px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .search-field__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .search-field__details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .search-field__details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}

.search-field__first-field {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  height: 52px;
  margin: 22px;
  padding: 16px;
  border-radius: 8px;
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__first-field {
    max-width: 90%;
    margin: 15px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .search-field__first-field {
    min-width: 40%;
    height: 40px;
    margin: 10px;
    padding: 8px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .search-field__first-field {
    min-width: 40%;
    margin: 15px;
    padding: 8px;
    font-size: 0.9rem;
  }
}

.search-field__second-field {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  height: 52px;
  margin: 22px;
  padding: 16px;
  border-radius: 8px;
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__second-field {
    max-width: 90%;
    margin: 15px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .search-field__second-field {
    min-width: 40%;
    height: 40px;
    margin: 10px;
    padding: 8px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .search-field__second-field {
    min-width: 40%;
    margin: 15px;
    padding: 8px;
    font-size: 0.9rem;
  }
}

.search-field__third-field {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 52px;
  margin: 22px;
  padding: 0 16px;
  border-radius: 8px;
  color: #999999;
}

@media (max-width: 375px) {
  .search-field__third-field {
    max-width: 90%;
    margin: 15px;
    padding: 16px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .search-field__third-field {
    min-width: 40%;
    height: 40px;
    margin: 10px;
    padding: 8px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .search-field__third-field {
    min-width: 40%;
    margin: 15px;
    font-size: 0.9rem;
  }
}

.search-field__fourth-field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 52px;
  margin: 22px;
  background: #2E1AAD;
  border-radius: 8px;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .search-field__fourth-field {
    max-width: 90%;
    margin: 15px;
    padding: 16px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .search-field__fourth-field {
    min-width: 40%;
    height: 40px;
    margin: 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .search-field__fourth-field {
    min-width: 40%;
    margin: 15px;
    font-size: 0.9rem;
  }
}

.search-field__fourth-field:hover {
  border-color: red;
  background-color: #999999;
  cursor: pointer;
}

@media (max-width: 375px) {
  .search-field {
    min-height: 650px;
  }
}

@media (max-width: 768px) {
  .search-field {
    height: 500px;
  }
}

@media (max-width: 1100px) {
  .search-field {
    min-height: 950px;
  }
}

@media (max-width: 1400px) {
  .search-field {
    min-height: 700px;
  }
}

@media (max-width: 1650px) {
  .search-field {
    min-height: 800px;
  }
}

.for-candidates {
  max-width: 80%;
  margin: 0 auto;
}

.for-candidates__title {
  max-width: 400px;
  min-height: 56px;
  margin-top: 110px;
  margin-bottom: 48px;
  font-size: 2.5rem;
}

@media (max-width: 1650px) {
  .for-candidates__title {
    margin-top: 90px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1400px) {
  .for-candidates__title {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .for-candidates__title {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .for-candidates__title {
    margin-top: 50px;
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .for-candidates__title {
    margin-top: 30px;
    font-size: 1.5rem;
  }
}

.for-candidates__container {
  min-height: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .for-candidates__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.for-candidates__text {
  min-width: 50%;
  max-height: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .for-candidates__text {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .for-candidates__text {
    max-height: 600px;
  }
}

@media (max-width: 375px) {
  .for-candidates__text {
    max-height: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.for-candidates__text-block {
  max-width: 50%;
  min-height: 60px;
  padding-right: 40px;
}

@media (max-width: 768px) {
  .for-candidates__text-block {
    max-width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 375px) {
  .for-candidates__text-block {
    max-width: 100%;
    padding-right: 0;
  }
}

.for-candidates__subtitle {
  max-width: 100%;
  min-height: 26px;
  padding-bottom: 8px;
  font-size: 1.1rem;
  line-height: 26px;
}

@media (max-width: 1400px) {
  .for-candidates__subtitle {
    padding-bottom: 6px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .for-candidates__subtitle {
    padding-bottom: 3px;
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .for-candidates__subtitle {
    padding-bottom: 2px;
    font-size: 1rem;
  }
}

.for-candidates__content {
  max-width: 100%;
  min-height: 24px;
  padding-bottom: 30px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

@media (max-width: 1400px) {
  .for-candidates__content {
    padding-bottom: 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .for-candidates__content {
    padding-bottom: 5px;
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  .for-candidates__content {
    min-height: 20px;
    padding-bottom: 10px;
  }
}

.for-candidates__picture {
  min-width: 50%;
  font-weight: normal;
  font-size: 0.7rem;
}

@media (max-width: 1400px) {
  .for-candidates__picture {
    min-width: 400px;
  }
}

.for-employers {
  max-width: 80%;
  margin: 0 auto;
}

.for-employers__title {
  max-width: 400px;
  min-height: 56px;
  margin: 100px 0 48px 50%;
  font-size: 2.5rem;
}

@media (max-width: 1650px) {
  .for-employers__title {
    margin: 90px 0 30px 50%;
  }
}

@media (max-width: 1400px) {
  .for-employers__title {
    margin: 70px 0 20px 50%;
  }
}

@media (max-width: 1100px) {
  .for-employers__title {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 768px) {
  .for-employers__title {
    margin: 50px 0 0 0;
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .for-employers__title {
    margin: 30px 0 0 0;
    font-size: 1.5rem;
  }
}

.for-employers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1100px) {
  .for-employers__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.for-employers__text {
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .for-employers__text {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .for-employers__text {
    max-height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 375px) {
  .for-employers__text {
    max-height: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.for-employers__text-block {
  max-width: 50%;
  min-height: 60px;
  padding-right: 40px;
}

@media (max-width: 375px) {
  .for-employers__text-block {
    max-width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .for-employers__text-block {
    max-width: 100%;
    padding-right: 0;
  }
}

.for-employers__subtitle {
  max-width: 100%;
  min-height: 26px;
  padding-bottom: 8px;
  font-size: 1.1rem;
  line-height: 26px;
}

@media (max-width: 375px) {
  .for-employers__subtitle {
    padding-bottom: 2px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .for-employers__subtitle {
    padding-bottom: 3px;
    font-size: 0.9rem;
  }
}

@media (max-width: 1400px) {
  .for-employers__subtitle {
    padding-bottom: 6px;
    font-size: 1rem;
  }
}

.for-employers__content {
  max-width: 100%;
  min-height: 24px;
  padding-bottom: 30px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

@media (max-width: 1400px) {
  .for-employers__content {
    padding-bottom: 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .for-employers__content {
    padding-bottom: 5px;
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  .for-employers__content {
    min-height: 20px;
    padding-bottom: 10px;
    font-size: 0.8rem;
  }
}

.for-employers__picture {
  max-height: 524px;
  font-weight: normal;
  font-size: 0.7rem;
}

@media (max-width: 1400px) {
  .for-employers__picture {
    min-width: 400px;
  }
}

.for-employers__button:hover {
  border-color: red;
  background-color: #999999;
  cursor: pointer;
}

.for-employers__button {
  min-width: 130px;
  min-height: 52px;
  margin-left: 50%;
  margin-bottom: 20px;
  background: #2E1AAD;
  border-radius: 8px;
  color: #FFFFFF;
}

@media (max-width: 1400px) {
  .for-employers__button {
    margin: -10px 0 20px 50%;
  }
}

@media (max-width: 1100px) {
  .for-employers__button {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .for-employers__button {
    margin: 30px 0 20px 0;
  }
}

@media (max-width: 375px) {
  .for-employers__button {
    margin-left: 0;
  }
}

.for-headhunters {
  max-width: 80%;
  margin: 0 auto;
}

.for-headhunters__title {
  max-width: 400px;
  min-height: 56px;
  margin-top: 110px;
  margin-bottom: 48px;
  font-size: 2.5rem;
}

@media (max-width: 375px) {
  .for-headhunters__title {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .for-headhunters__title {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 2rem;
  }
}

@media (max-width: 1100px) {
  .for-headhunters__title {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

@media (max-width: 1400px) {
  .for-headhunters__title {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1650px) {
  .for-headhunters__title {
    margin-top: 90px;
    margin-bottom: 30px;
  }
}

.for-headhunters__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 375px) {
  .for-headhunters__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .for-headhunters__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .for-headhunters__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.for-headhunters__text {
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 375px) {
  .for-headhunters__text {
    max-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 1100px) {
  .for-headhunters__text {
    max-height: 300px;
  }
}

.for-headhunters__text-block {
  max-width: 50%;
  min-height: 60px;
  padding-right: 40px;
}

@media (max-width: 375px) {
  .for-headhunters__text-block {
    max-width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .for-headhunters__text-block {
    max-width: 100%;
    padding-right: 0;
  }
}

.for-headhunters__subtitle {
  max-width: 100%;
  min-height: 26px;
  padding-bottom: 8px;
  font-size: 1.1rem;
  line-height: 26px;
}

@media (max-width: 375px) {
  .for-headhunters__subtitle {
    padding-bottom: 2px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .for-headhunters__subtitle {
    padding-bottom: 3px;
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  .for-headhunters__subtitle {
    padding-bottom: 6px;
    font-size: 1rem;
  }
}

.for-headhunters__content {
  max-width: 100%;
  min-height: 24px;
  padding-bottom: 30px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

@media (max-width: 375px) {
  .for-headhunters__content {
    min-height: 20px;
    padding-bottom: 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .for-headhunters__content {
    padding-bottom: 5px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1400px) {
  .for-headhunters__content {
    padding-bottom: 15px;
    font-size: 0.9rem;
  }
}

.for-headhunters__picture {
  max-height: 524px;
  font-weight: normal;
  font-size: 0.7rem;
}

@media (max-width: 1400px) {
  .for-headhunters__picture {
    min-width: 400px;
  }
}

.for-headhunters__button:hover {
  border-color: red;
  background-color: #999999;
  cursor: pointer;
}

.for-headhunters__button {
  min-width: 150px;
  min-height: 52px;
  background: #2E1AAD;
  border-radius: 8px;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .for-headhunters__button {
    margin: 20px 0 30px 0;
  }
}

@media (max-width: 768px) {
  .for-headhunters__button {
    margin: 20px 0 30px 0;
  }
}

@media (max-width: 1100px) {
  .for-headhunters__button {
    margin: 20px 0 30px 0;
  }
}

@media (max-width: 1400px) {
  .for-headhunters__button {
    margin: -230px 0 20px 0;
  }
}

.client {
  margin-top: 50px;
  padding-top: 100px;
  background: #ECF8FE;
  min-height: 780px;
}

.client__container {
  max-width: 80%;
  margin: 0 auto;
}

.client__title {
  max-width: 400px;
  font-size: 2.5rem;
  line-height: 56px;
}

@media (max-width: 375px) {
  .client__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .client__title {
    font-size: 2rem;
  }
}

.client__subtitle {
  max-width: 700px;
  margin-bottom: 56px;
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: normal;
  color: #999999;
}

@media (max-width: 375px) {
  .client__subtitle {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .client__subtitle {
    margin-bottom: 15px;
    font-size: 1rem;
  }
}

@media (max-width: 1100px) {
  .client__subtitle {
    margin-bottom: 20px;
  }
}

.client__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 410px;
}

@media (max-width: 375px) {
  .client__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .client__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .client__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.client__item {
  min-width: 33%;
  margin-right: 30px;
  border-radius: 8px;
  background: #FFFFFF;
}

@media (max-width: 375px) {
  .client__item {
    margin-right: 0;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .client__item {
    margin-right: 0;
    margin-top: 30px;
  }
}

@media (max-width: 1100px) {
  .client__item {
    margin-right: 0;
    margin-top: 40px;
  }
}

.client__icon-star {
  min-width: 70px;
  min-height: 42px;
  margin: 32px 45px 0px;
  font-weight: normal;
  font-size: 0.7rem;
}

.client__item-title {
  min-width: 80%;
  min-height: 42px;
  margin: 30px 45px 16px;
  font-size: 1.25rem;
  line-height: 28px;
}

@media (max-width: 1100px) {
  .client__item-title {
    margin: 30px 45px 10px;
  }
}

.client__item-text {
  min-width: 80%;
  min-height: 96px;
  margin: 16px 45px;
  font-weight: normal;
  line-height: 24px;
}

@media (max-width: 1100px) {
  .client__item-text {
    margin: 0 45px;
  }
}

.client__picture {
  min-width: 40px;
  min-height: 40px;
  margin: 30px 45px 16px;
  font-weight: normal;
  font-size: 0.7rem;
}

.client__name {
  min-width: 80%;
  min-height: 96px;
  margin: -60px 100px 0;
  font-weight: normal;
  line-height: 24px;
}

.client__position {
  min-width: 80%;
  min-height: 96px;
  margin: -70px 100px 0;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 24px;
}

.client__slider {
  max-width: 80px;
  min-height: 20px;
  margin: 25px 0 0 50%;
  font-weight: normal;
  font-size: 0.7rem;
}

@media (max-width: 375px) {
  .client__slider {
    max-width: 40px;
    min-height: 20px;
    margin: 1020px 40% 20px;
  }
}

@media (max-width: 768px) {
  .client__slider {
    max-width: 60px;
    min-height: 20px;
    margin: 1000px 45% 20px;
  }
}

@media (max-width: 1100px) {
  .client__slider {
    margin: 970px 45% 20px;
  }
}

@media (max-width: 375px) {
  .client {
    padding-top: 40px;
    min-height: 1650px;
  }
}

@media (max-width: 768px) {
  .client {
    padding-top: 50px;
    min-height: 1600px;
  }
}

@media (max-width: 1100px) {
  .client {
    padding-top: 60px;
    min-height: 1600px;
  }
}

.numbers {
  max-width: 80%;
  margin: 0 auto;
}

.numbers__title {
  max-width: 500px;
  margin-top: 100px;
  font-size: 2.5rem;
  line-height: 56px;
}

@media (max-width: 375px) {
  .numbers__title {
    margin-top: 30px;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .numbers__title {
    margin-top: 50px;
    font-size: 1.5rem;
  }
}

.numbers__subtitle {
  max-width: 600px;
  margin-bottom: 56px;
  font-size: 1.1rem;
  line-height: 32px;
  font-weight: normal;
  color: #999999;
}

@media (max-width: 375px) {
  .numbers__subtitle {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .numbers__subtitle {
    margin-bottom: 15px;
    font-size: 1rem;
  }
}

@media (max-width: 1100px) {
  .numbers__subtitle {
    margin-bottom: 20px;
  }
}

.numbers__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 266px;
  padding-bottom: 30px;
}

@media (max-width: 375px) {
  .numbers__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .numbers__details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.numbers__item {
  min-width: 25%;
  margin-right: 30px;
  border-radius: 16px;
  background: #F5F7FA;
}

@media (max-width: 375px) {
  .numbers__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .numbers__item {
    margin-bottom: 10px;
  }
}

@media (max-width: 1100px) {
  .numbers__item {
    margin-right: 20px;
  }
}

.numbers__item-picture {
  min-width: 35%;
  max-height: 90px;
  margin: 40px 30% 0;
  font-weight: normal;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .numbers__item-picture {
    min-width: 20%;
    max-height: 70px;
    margin: 25px 0 0 33%;
  }
}

@media (max-width: 1100px) {
  .numbers__item-picture {
    min-width: 25%;
    max-height: 70px;
    margin: 40px 0 0 33%;
  }
}

.numbers__item-amount {
  min-width: 100%;
  min-height: 56px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 56px;
}

.numbers__item-description {
  min-width: 100%;
  min-height: 32px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 32px;
  color: #999999;
}

.news {
  max-width: 80%;
  margin: 0 auto;
}

.news__title-general {
  max-width: 200px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  line-height: 56px;
}

@media (max-width: 375px) {
  .news__title-general {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .news__title-general {
    margin-top: 50px;
  }
}

.news__all {
  text-align: right;
  margin: 0 0 20px 0;
  font-size: 0.9rem;
  line-height: 20px;
  color: #999999;
}

.news__all:hover {
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #4d4d4d;
}

.news__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

.news__item {
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.news__picture-item {
  max-width: 100%;
  max-height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 0.7rem;
}

.news__title {
  max-width: 400px;
  margin: 24px 0;
  padding-left: 30px;
  font-size: 1.25rem;
  line-height: 28px;
}

@media (max-width: 375px) {
  .news__title {
    margin: 5px 0 15px;
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .news__title {
    margin: 5px 0 15px;
    padding-left: 10px;
  }
}

@media (max-width: 1100px) {
  .news__title {
    margin: 5px 0 15px;
    padding-left: 10px;
  }
}

.news__content {
  max-width: 400px;
  margin-bottom: 30px;
  padding-left: 30px;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
}

@media (max-width: 375px) {
  .news__content {
    margin: 5px 0 15px;
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .news__content {
    margin: 5px 0 15px;
    padding-left: 10px;
  }
}

@media (max-width: 1100px) {
  .news__content {
    margin: 5px 0 15px;
    padding-left: 10px;
  }
}

.cookies {
  background-color: #999999;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* @include phone {
      &__button {
         min-width: 70px;
         min-height: 30px;
         margin: 10px 0 10px 30px;
         font-size: 0.8rem;
      }
   }

   @include smallTablet {
      &__button {
         min-width: 70px;
         min-height: 30px;
         margin: 10px 0 10px 50px;
         font-size: 0.8rem;
      }
   }

   @include bigTablet {
      &__button {
         margin: 10px 0 20px 450px;
      }
   }

   @include smallScreen {
      &__button {
         margin: 10px 0 20px 600px;
      }
   }

   @include mediumscreen {
      &__button {
         margin: -130px 0 0 1080px;
      }
   } */
}

.cookies__text {
  max-width: 65%;
}

.cookies__text-bold {
  padding: 20px 0 5px 400px;
  font-size: 0.9rem;
  line-height: 16px;
}

@media (max-width: 375px) {
  .cookies__text-bold {
    max-width: 90%;
    padding: 10px 0 0 30px;
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .cookies__text-bold {
    max-width: 90%;
    padding: 10px 0 0 50px;
    font-size: 0.7rem;
  }
}

@media (max-width: 1100px) {
  .cookies__text-bold {
    max-width: 80%;
    padding: 20px 0 0 150px;
  }
}

@media (max-width: 1400px) {
  .cookies__text-bold {
    max-width: 75%;
    padding: 20px 0 5px 300px;
  }
}

.cookies__text-normal {
  padding: 0 0 20px 400px;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: justify;
  line-height: 16px;
}

@media (max-width: 375px) {
  .cookies__text-normal {
    max-width: 90%;
    padding: 0 0 0 30px;
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .cookies__text-normal {
    max-width: 90%;
    padding: 0 0 0 50px;
    font-size: 0.7rem;
  }
}

@media (max-width: 1100px) {
  .cookies__text-normal {
    max-width: 80%;
    padding: 0 0 0 150px;
  }
}

@media (max-width: 1400px) {
  .cookies__text-normal {
    max-width: 75%;
    padding: 0 0 0 300px;
  }
}

.cookies__button:hover {
  border-color: red;
  background-color: #404040;
  cursor: pointer;
}

.cookies__button {
  min-width: 100px;
  background-color: #231F20;
  border-radius: 100px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 20px;
  color: #FFFFFF;
}

.other-info {
  background-color: #231F20;
  min-height: 360px;
  padding: 64px 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.other-info__i-tapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 375px) {
  .other-info__i-tapp {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .other-info__i-tapp {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 30px;
  }
}

.other-info__i-tapp-text {
  min-width: 160px;
  padding-right: 400px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 24px;
  color: #FFFFFF;
}

.other-info__i-tapp-text_header {
  margin-bottom: 40px;
  font-family: Montserrat;
  font-size: 1.9rem;
  line-height: 37px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .other-info__i-tapp-text_header {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
}

@media (max-width: 1100px) {
  .other-info__i-tapp-text_header {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .other-info__i-tapp-text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .other-info__i-tapp-text {
    padding-right: 0;
  }
}

@media (max-width: 1100px) {
  .other-info__i-tapp-text {
    padding-right: 100px;
    font-size: 0.6rem;
  }
}

@media (max-width: 1400px) {
  .other-info__i-tapp-text {
    padding-right: 200px;
  }
}

@media (max-width: 1650px) {
  .other-info__i-tapp-text {
    padding-right: 300px;
  }
}

.other-info__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 375px) {
  .other-info__company {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .other-info__company {
    margin-bottom: 30px;
  }
}

.other-info__company-text:hover {
  color: #999999;
  cursor: pointer;
}

.other-info__company-text {
  min-width: 160px;
  padding-right: 250px;
  margin-bottom: 12px;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 26px;
  color: #FFFFFF;
}

.other-info__company-text_header {
  margin-bottom: 24px;
  font-size: 1.25rem;
  line-height: 28px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .other-info__company-text_header {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
}

@media (max-width: 1100px) {
  .other-info__company-text_header {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
}

@media (max-width: 375px) {
  .other-info__company-text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .other-info__company-text {
    padding-right: 0;
  }
}

@media (max-width: 1100px) {
  .other-info__company-text {
    padding-right: 90px;
    font-size: 0.7rem;
  }
}

@media (max-width: 1400px) {
  .other-info__company-text {
    padding-right: 150px;
  }
}

@media (max-width: 1650px) {
  .other-info__company-text {
    padding-right: 200px;
  }
}

.other-info__jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 375px) {
  .other-info__jobs {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .other-info__jobs {
    margin-bottom: 30px;
  }
}

.other-info__jobs-text:hover {
  color: #999999;
  cursor: pointer;
}

.other-info__jobs-text {
  max-width: 160px;
  margin-bottom: 12px;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 26px;
  color: #FFFFFF;
}

.other-info__jobs-text_header {
  margin-bottom: 24px;
  font-size: 1.25rem;
  line-height: 28px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .other-info__jobs-text_header {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
}

@media (max-width: 1100px) {
  .other-info__jobs-text_header {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
}

@media (max-width: 1100px) {
  .other-info__jobs-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .other-info {
    padding: 20px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .other-info {
    padding: 50px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .other-info {
    padding: 64px 120px;
  }
}
/*# sourceMappingURL=styles.css.map */