.menu-top {
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 217px;
  height: 80px;
  position: fixed;
  inset: 0;
  background: red;
}

.menu-top__logo {
  position: absolute;
  width: 8.6%;
  height: 29.93px;
  inset: 25.36px 9.17%;
}

.menu-top__left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 0.97%;
  padding: 6px 3.13%;
  width: 31.67%;
  height: 32px;
  position: absolute;
  inset: calc(50% - 32px/2) 18.75%;
}

.menu-top__item {
  width: 2.78%px;
  height: 20px;
  position: static;
  inset: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.menu-top__item_main {
  color: #2E1AAD;
}

.menu-top__right-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 20px 53.68%;
}

.menu-top__employers {
  width: 9%;
  height: 20px;
  position: static;
  inset: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.menu-top__headhunters {
  width: 9%;
  height: 20px;
  position: static;
  inset: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 4px;
}

.menu-top__buttons {
  width: 14.86%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 3.33%;
}

.menu-top__buttons :hover {
  border-color: red;
  background-color: #999999;
}

.menu-top__login {
  width: 50%;
  height: 40px;
  border-radius: 8px;
  border-color: #2E1AAD;
  background-color: #FFFFFF;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #2E1AAD;
}

.menu-top__signup {
  width: 50%;
  height: 40px;
  position: static;
  background: #2E1AAD;
  border-radius: 8px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 0px 0px 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
}

.for-candidates {
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 217px;
}

.for-candidates__title {
  position: absolute;
  width: 23.61%;
  height: 56px;
  top: 956px;
  margin-bottom: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.for-candidates__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 620px;
  height: 418px;
  top: 1060px;
}

.for-candidates__subtitle {
  width: 300px;
  height: 26px;
  margin-bottom: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.for-candidates__content {
  width: 280px;
  height: 48px;
  margin-bottom: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.for-candidates__picture {
  position: absolute;
  width: 524px;
  height: 530px;
  left: 751px;
  top: 959px;
}

.for-employers__title {
  position: absolute;
  width: 330px;
  height: 56px;
  left: 751px;
  top: 1648px;
  margin-bottom: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.for-employers__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 620px;
  height: 502px;
  left: 751px;
  top: 1752px;
}

.for-employers__subtitle {
  width: 300px;
  height: 26px;
  margin-bottom: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.for-employers__content {
  width: 280px;
  height: 48px;
  margin-bottom: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.for-employers__button:hover {
  border-color: red;
  background-color: #999999;
}

.for-employers__button {
  width: 150px;
  height: 52px;
  position: absolute;
  inset: 524px 393px 0px 0px;
  background: #2E1AAD;
  border-radius: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
}

.for-employers__picture {
  position: absolute;
  width: 524px;
  height: 530px;
  left: 165px;
  top: 1625px;
}

.for-headhunters__title {
  position: absolute;
  width: 380px;
  height: 56px;
  left: 163px;
  top: 2390px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.for-headhunters__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 526px;
  height: 296px;
  left: 163px;
  top: 2494px;
}

.for-headhunters__subtitle {
  width: 300px;
  height: 26px;
  margin-bottom: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.for-headhunters__content {
  width: 280px;
  height: 48px;
  margin-bottom: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.for-headhunters__button:hover {
  border-color: red;
  background-color: #999999;
}

.for-headhunters__button {
  width: 180px;
  height: 52px;
  position: absolute;
  inset: 270px 376px 0px 0px;
  background: #2E1AAD;
  border-radius: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
}

.for-headhunters__picture {
  position: absolute;
  width: 524px;
  height: 530px;
  left: 751px;
  top: 2291px;
}

.numbers__title {
  position: absolute;
  width: 560px;
  height: 56px;
  left: 165px;
  top: 3907px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px 0px;
}

.numbers__subtitle {
  position: absolute;
  width: 500px;
  height: 32px;
  left: 165px;
  top: 3971px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.numbers__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 165px;
  top: 4059px;
}

.numbers__item {
  width: 255px;
  height: 266px;
  margin-right: 30px;
  position: relative;
  background: #F5F7FA;
  border-radius: 16px;
}

.numbers__item-picture {
  position: absolute;
  width: 97.8px;
  height: 90.13px;
  left: 71.2px;
  top: 43.87px;
}

.numbers__item-amount {
  width: 255px;
  height: 56px;
  position: absolute;
  top: 148px;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.numbers__item-description {
  width: 255px;
  height: 32px;
  position: absolute;
  top: 202px;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.news_title-general {
  position: absolute;
  width: 107px;
  height: 56px;
  left: 165px;
  top: 4432px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.news__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 165px;
  top: 4544px;
}

.news_item {
  margin-right: 30px;
  position: relative;
  border-radius: 16px;
}

.news_icon {
  width: 370px;
  background: url(.jpg);
  border-radius: 8px;
}

.news__title {
  width: 370px;
  position: absolute;
  top: 226px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.news_content {
  position: absolute;
  top: 266px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.search__content {
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 217px;
  height: 763px;
  background: #F5F7FA;
}

.search__title {
  position: absolute;
  width: 546px;
  height: 120px;
  left: 163px;
  top: 298px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.search__subtitle {
  position: absolute;
  width: 500px;
  height: 60px;
  left: 166px;
  top: 447px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.search__picture {
  position: absolute;
  width: 585px;
  height: 436px;
  left: 741px;
  top: 152px;
}

.search__field {
  width: 1110px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  left: 165px;
  top: 635px;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.search__first-field {
  width: 310px;
  height: 47px;
  padding-left: 16px;
  border-radius: 8px;
  position: absolute;
  left: 2.88%;
  right: 67.3%;
  top: 22.92%;
  bottom: 22.92%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}

.search__second-field {
  width: 270px;
  height: 47px;
  padding-left: 16px;
  border-radius: 8px;
  position: absolute;
  left: 34.86%;
  right: 38.92%;
  top: 22.92%;
  bottom: 22.92%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.search__third-field {
  width: 237px;
  height: 52px;
  padding-left: 16px;
  border-radius: 8px;
  position: absolute;
  left: 63.24%;
  right: 15.41%;
  top: 22.92%;
  bottom: 22.92%;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.search__fourth-field:hover {
  border-color: red;
  background-color: #999999;
}

.search__fourth-field {
  width: 115px;
  height: 52px;
  border-radius: 8px;
  position: absolute;
  left: 86.76%;
  right: 2.88%;
  top: 22.92%;
  bottom: 22.92%;
  background: #2E1AAD;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
}

.client__content {
  position: absolute;
  width: 1960px;
  height: 846px;
  left: 0px;
  top: 2941px;
  background: #ECF8FE;
}

.client__title {
  width: 370px;
  height: 56px;
  margin-top: 112px;
  position: absolute;
  left: 165px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.client__subtitle {
  width: 470px;
  height: 30px;
  margin-top: 176px;
  position: absolute;
  left: 165px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.client__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 262px;
  position: absolute;
  left: 165px;
}

.client__item {
  width: 350px;
  height: 410px;
  margin-right: 30px;
  position: relative;
  border-radius: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
}

.client__icon-star {
  position: absolute;
  width: 65px;
  height: 42.02px;
  left: 40px;
  top: 32px;
}

.client__item-title {
  position: absolute;
  left: 40px;
  top: 100px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.client__item-text {
  width: 270px;
  height: 96px;
  position: absolute;
  left: 40px;
  top: 144px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.client__picture {
  position: absolute;
  left: 40px;
  top: 335px;
  background: url(.png);
}

.client__name {
  position: absolute;
  left: 92px;
  top: 332px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #231F20;
}

.client__position {
  position: absolute;
  left: 92px;
  top: 354px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #999999;
}

.cookies {
  position: absolute;
  width: 1960px;
  height: 134px;
  left: 0px;
  top: 4908px;
  background: #999999;
}

.cookies__text-bold {
  position: absolute;
  width: 524px;
  height: 86px;
  left: 366px;
  top: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  color: #231F20;
}

.cookies__text-normal {
  position: absolute;
  width: 524px;
  height: 86px;
  left: 366px;
  top: 35px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #231F20;
}

.cookies__button:hover {
  border-color: red;
  background-color: #404040;
}

.cookies__button {
  width: 112px;
  height: 40px;
  position: absolute;
  left: 935px;
  top: 49px;
  background: #231F20;
  border-radius: 100px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
}

.other-info {
  position: absolute;
  width: 1920px;
  height: 360px;
  left: 0px;
  top: 5042px;
  background: #0B0D17;
}

.other-info__i-tapp {
  position: absolute;
  left: 165px;
  top: 64px;
}

.other-info__i-tapp-header {
  position: static;
  width: 109px;
  height: 37px;
  left: 0px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 40px 0px;
}

.other-info__i-tapp-text {
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 57.14%;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #D9DBE1;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px 0px;
}

.other-info__company {
  position: absolute;
  left: 640px;
  top: 64px;
}

.other-info__company-header {
  position: static;
  width: 160px;
  height: 28px;
  left: 0px;
  top: 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 24px 0px;
}

.other-info__company-text:hover {
  border-radius: 8px;
  background-color: #999999;
}

.other-info__company-text {
  position: static;
  width: 200px;
  height: 26px;
  left: 0px;
  top: 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #D9DBE1;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 12px 0px;
}

.other-info__jobs {
  position: absolute;
  left: 855px;
  top: 64px;
}

.other-info__jobs-header {
  position: static;
  width: 160px;
  height: 28px;
  left: 0px;
  top: 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 24px 0px;
}

.other-info__jobs-text:hover {
  border-radius: 8px;
  background-color: #999999;
}

.other-info__jobs-text {
  position: static;
  width: 160px;
  height: 26px;
  left: 0px;
  top: 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-feature-settings: 'liga'off;
          font-feature-settings: 'liga'off;
  color: #D9DBE1;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 12px 0px;
}
/*# sourceMappingURL=styles.css.map */