* {
   box-sizing: border-box;
   font-family: Manrope;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   color: #231F20;
}

$white: #FFFFFF;
$grey: #999999;
$lightgrey: #F5F7FA;
$blue:#2E1AAD;
$red: red;

/* @use "sass:math";
@function rem($px, $base: $base-font-size) {
   @return math.div($px, $base) * 1rem;
} */

@mixin phone {
   @media (max-width:375px) {
      @content;
   }
}

@mixin smallTablet {
   @media (max-width:768px) {
      @content;
   }
}

@mixin bigTablet {
   @media (max-width:1100px) {
      @content;
   }
}

@mixin smallScreen {
   @media (max-width:1400px) {
      @content;
   }
}

@mixin mediumScreen {
   @media (max-width:1650px) {
      @content;
   }
}

.menu-top {
   width: 100%;
   min-height: 80px;
   position: sticky;
   top: 0;
   background: $white;

   &__container {
      width: 80%;
      margin: 0 auto;
      padding: 30px;
      display: flex;
   }

   @include mediumScreen {
      &__container {
         padding: 20px;
      }
   }

   @include smallTablet {
      &__container {
         width: 95%;
      }
   }

   &__logo {
      display: flex;
      flex: 1;
      font-weight: normal;
      font-size: 0.7rem;
   }

   @include bigTablet {
      &__logo {
         width: 20%;
      }
   }

   &__left-nav {
      display: flex;
      flex: 3;
      align-items: center;
      margin: 0 50px 0 18px;
      padding-left: 50px;
   }

   @include mediumScreen {
      &__left-nav {
         flex: 2;
         margin: 0 30px 0 10px;
         padding-left: 30px;
      }
   }

   @include smallScreen {
      &__left-nav {
         flex: 3;
      }
   }

   @include bigTablet {
      &__left-nav {
         flex: 2;
         margin: 0 10px 0 5px;
         padding-left: 10px;
      }
   }

   @include smallTablet {
      &__left-nav {
         flex-direction: column;
         margin-top: 15px;
      }
   }

   &__item {
      height: 20px;
      margin-right: 42px;
      font-size: 0.9rem;
      color: $grey;

      &_main {
         color: $blue;
      }
   }

   @include mediumScreen {
      &__item {
         margin-right: 20px;
      }
   }

   @include bigTablet {
      &__item {
         margin-bottom: 5px;
      }
   }

   @include phone {
      &__item {
         margin-right: 0;
         font-size: 0.8rem;
      }
   }

   &__item:hover {
      opacity: 0.7;
      cursor: pointer;
   }

   &__right-nav {
      display: flex;
      flex: 5;
      justify-content: flex-end;
      align-items: center;
   }
   
   @include smallScreen {
      &__right-nav {
         flex-wrap: wrap;
      }
   }

   &__buttons {
      min-width: 285px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 40px;

      :hover {
         border-color: $red;
         background-color: $grey;
         cursor: pointer;
      }
   }

   @include mediumScreen {
      &__buttons {
         min-width: 180px;
         margin-left: 10px;
      }
   }

   @include smallScreen {
      &__buttons {
         min-width: 250px;
         margin: 10px 20px 0 0;
      }
   }

   @include bigTablet {
      &__buttons {
         min-width: 200px;
      }
   }

   @include smallTablet {
      &__buttons {
         min-width: 130px;
         margin-top: 5px;
      }
   }

   @include phone {
      &__buttons {
         margin-right: 0;
      }
   }

   &__login {
      width: 45%;
      height: 40px;
      border-radius: 8px;
      background: $white;
      font-size: 0.9rem;
      color: $blue;
   }

   @include smallTablet {
      &__login {
         height: 30px;
         font-size: 0.7rem;
      }
   }

   &__signup {
      width: 45%;
      height: 40px;
      margin-left: 18px;
      border-radius: 8px;
      background: $blue;
      font-size: 0.9rem;
      color: $white;
   }

   @include mediumScreen {
      &__signup {
         margin-left: 10px;
      }
   }

   @include smallTablet {
      &__signup {
         height: 30px;
         font-size: 0.7rem;
      }
   }
}

.search-field {
   min-height: 860px;
   background-color: $lightgrey;

   &__content-top {
      max-width: 80%;
      margin: 0 auto;
      padding: 70px 0 20px;
      display: flex;
   }

   @include bigTablet {
      &__content-top {
         display: flex;
         flex-direction: column-reverse;
      }
   }

   @include phone {
      &__content-top {
         padding: 20px 0 0;
      }
   }

   &__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   @include bigTablet {
      &__text {
         width: 100%;
      }
   }

   &__title {
      min-height: 120px;
      font-size: 3rem;
      line-height: 60px;
   }

   @include smallScreen {
      &__title {
         font-size: 2.5rem;
         }
   }

   @include bigTablet {
      &__title {
         min-height: 60px;
         margin-top: 30px;
         text-align: center;
         font-size: 2.2rem;
         line-height: 30px;
      }
   }

   @include smallTablet {
      &__title {
         min-height: 40px;
         margin-top: 20px;
         font-size: 1rem;
         line-height: 20px;
      }
   }

   @include phone {
      &__title {
         min-height: 20px;
         margin-top: 10px;
         font-size: 0.8rem;
         line-height: 5px;
      }
   }

   &__subtitle {
      min-height: 60px;
      margin-top: 28px;
      font-weight: normal;
      font-size: 1.1rem;
      line-height: 30px;
      color: $grey;
   }

   @include bigTablet {
      &__subtitle {
         min-height: 30px;
         margin-top: 0;
         text-align: center;
         line-height: 20px;
      }
   }

   @include smallTablet {
      &__subtitle {
         min-height: 10px;
         font-size: 0.6rem;
         line-height: 10px;
      }
   }

   @include phone {
      &__subtitle {
         min-height: 5px;
         margin-bottom: 15px;
         font-size: 0.5rem;
         line-height: 5px;
      }
   }

   &__picture {
      width: 50%;
      font-weight: normal;
      font-size: 0.7rem;
   }

   @include bigTablet {
      &__picture {
         width: 100%;
         max-height: 400px;
      }
   }

   @include smallTablet {
      &__picture {
         max-height: 250px;
      }
   }

   @include phone {
      &__picture {
         min-height: 100px;
      }
   }

   &__details {
      background-color: $white;
      border-radius: 8px;
      width: 80%;
      margin: 48px auto;
      display: flex;
      justify-content: center;
   }

   @include bigTablet {
      &__details {
         display: grid;
         grid-template-columns: 1fr 1fr;
         margin: 0 auto;
      }
   }
   
   @include phone {
      &__details {
         display: flex;
         flex-direction: column;
      }
   }

   &__first-field {
      flex: 2.5;
      height: 52px;
      margin: 22px;
      padding: 16px;
      border-radius: 8px;
      color: $grey;
   }

   @include bigTablet {
      &__first-field {
         min-width: 40%;
         margin: 15px;
         padding: 8px;
         font-size: 0.9rem;
      }
   }

   @include smallTablet {
      &__first-field {
         height: 40px;
         margin: 10px;
         font-size: 0.8rem;
      }
   }

   @include phone {
      &__first-field {
         max-width: 90%;
         margin: 15px;
         font-size: 0.8rem;
      }
   }

   &__second-field {
      flex: 2.5;
      height: 52px;
      margin: 22px;
      padding: 16px;
      border-radius: 8px;
      color: $grey;
   }
  
   @include bigTablet {
      &__second-field {
         min-width: 40%;
         margin: 15px;
         padding: 8px;
         font-size: 0.9rem;
      }
   }

   @include smallTablet {
      &__second-field {
         height: 40px;
         margin: 10px;
         font-size: 0.8rem;
      }
   }

   @include phone {
      &__second-field {
         max-width: 90%;
         margin: 15px;
         font-size: 0.8rem;
      }
   }

   &__third-field {
      flex: 2;
      height: 52px;
      margin: 22px;
      padding: 8px 16px;
      border-radius: 8px;
      color: $grey;
   }

   @include bigTablet {
      &__third-field {
         min-width: 40%;
         margin: 15px;
         font-size: 0.9rem;
      }
   }

   @include smallTablet {
      &__third-field {
         height: 40px;
         margin: 10px;
         font-size: 0.8rem;
      }
   }

   @include phone {
      &__third-field {
         max-width: 90%;
         margin: 15px;
         font-size: 0.8rem;
      }
   }

   &__fourth-field {
      flex: 1;
      height: 52px;
      margin: 22px;
      padding: 8px 16px;
      background: $blue;
      border-radius: 8px;
      color: $white;
   }

   @include bigTablet {
      &__fourth-field {
         min-width: 40%;
         margin: 15px;
         font-size: 0.9rem;
      }
   }

   @include smallTablet {
      &__fourth-field {
         height: 40px;
         margin: 10px;
         font-size: 0.8rem;
      }
   }

   @include phone {
      &__fourth-field {
         max-width: 90%;
         margin: 15px;
         font-size: 0.8rem;
      }
   }

   &__fourth-field:hover {
      border-color: $red;
      background-color: $grey;
      cursor: pointer;
   }
}

@include mediumScreen {
   .search-field {
      min-height: 770px;
   }
}

@include smallScreen {
   .search-field {
      min-height: 680px;
   }
}

@include bigTablet {
   .search-field {
      min-height: 820px;
   }
}

@include smallTablet {
   .search-field {
      min-height: 570px;
   }
}

@include phone {
   .search-field {
      min-height: 600px;
   }
}

.for-candidates {
   max-width: 80%;
   margin: 0 auto;

   &__title {
      max-width: 400px;
      min-height: 56px;
      margin-top: 110px;
      margin-bottom: 48px;
      font-size: 2.5rem;
   }

   @include mediumScreen {
      &__title {
         margin-top: 90px;
         margin-bottom: 30px;
      }
   }

   @include smallScreen {
      &__title {
         margin-top: 70px;
         margin-bottom: 20px;
      }
   }

   @include bigTablet {
      &__title {
         margin-top: 60px;
         margin-bottom: 0;
      }
   }

   @include smallTablet {
      &__title {
         margin-top: 50px;
         font-size: 2rem;
      }
   }

   @include phone {
      &__title {
         margin-top: 30px;
         font-size: 1.5rem;
      }
   }

   &__container {
      min-height: 524px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }

   @include bigTablet {
      &__container {
         display: flex;
         flex-direction: column-reverse;
      }
   }

   &__text {
      min-width: 50%;
      max-height: 524px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }

   @include bigTablet {
      &__text {
         max-height: 500px;
      }
   }

   @include smallTablet {
      &__text {
         max-height: 600px;
      }
   }

   @include phone {
      &__text {
         max-height: 750px;
         display: flex;
         flex-direction: row;
      }
   }

   &__text-block {
      max-width: 50%;
      min-height: 60px;
      padding-right: 40px;
   }

   @include smallTablet {
      &__text-block {
         max-width: 100%;
         padding-right: 0;
      }
   }

   @include phone {
      &__text-block {
         max-width: 100%;
         padding-right: 0;
      }
   }

   &__subtitle {
      max-width: 100%;
      min-height: 26px;
      padding-bottom: 8px;
      font-size: 1.1rem;
      line-height: 26px;
   }

   @include smallScreen {
      &__subtitle {
         padding-bottom: 6px;
         font-size: 1rem;
      }
   }

   @include smallTablet {
      &__subtitle {
         padding-bottom: 3px;
         font-size: 1rem;
      }
   }

   @include phone {
      &__subtitle {
         padding-bottom: 2px;
         font-size: 1rem;
      }
   }

   &__content {
      max-width: 100%;
      min-height: 24px;
      padding-bottom: 30px;
      line-height: 24px;
      font-weight: normal;
      color: $grey;
   }

   @include smallScreen {
      &__content {
         padding-bottom: 15px;
         font-size: 0.9rem;
      }
   }

   @include smallTablet {
      &__content {
         padding-bottom: 5px;
         font-size: 0.8rem;
      }
   }

   @include phone {
      &__content {
         min-height: 20px;
         padding-bottom: 10px;
      }
   }

   &__picture {
      min-width: 50%;
      font-weight: normal;
      font-size: 0.7rem;
   }

   @include smallScreen {
      &__picture {
         min-width: 400px;
      }
   }
}

.for-employers {
   max-width: 80%;
   margin: 0 auto;

   &__title {
      max-width: 400px;
      min-height: 56px;
      margin: 100px 0 48px 50%;
      font-size: 2.5rem;
   }

   @include mediumScreen {
      &__title {
         margin: 90px 0 30px 50%;
      }
   }

   @include smallScreen {
      &__title {
         margin: 70px 0 20px 50%;
      }
   }

   @include bigTablet {
      &__title {
         margin: 60px 0 0 0;
      }
   }

   @include smallTablet {
      &__title {
         margin: 50px 0 0 0;
         font-size: 2rem;
      }
   }

   @include phone {
      &__title {
         margin: 30px 0 0 0;
         font-size: 1.5rem;
      }
   }

   &__container {
      display: flex;
      flex-direction: row;
   }

   @include bigTablet {
      &__container {
         display: flex;
         flex-direction: column;
      }
   }

   &__text {
      max-height: 500px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }

   @include bigTablet {
      &__text {
         max-height: 500px;
      }
   }

   @include smallTablet {
      &__text {
         max-height: 900px;
         display: flex;
         flex-direction: row;
      }
   }

   @include phone {
      &__text {
         max-height: 750px;
         display: flex;
         flex-direction: row;
      }
   }

   &__text-block {
      max-width: 50%;
      min-height: 60px;
      padding-right: 40px;
   }

   @include phone {
      &__text-block {
         max-width: 100%;
         padding-right: 0;
      }
   }

   @include smallTablet {
      &__text-block {
         max-width: 100%;
         padding-right: 0;
      }
   }

   &__subtitle {
      max-width: 100%;
      min-height: 26px;
      padding-bottom: 8px;
      font-size: 1.1rem;
      line-height: 26px;
   }

   @include phone {
      &__subtitle {
         padding-bottom: 2px;
         font-size: 1rem;
      }
   }

   @include smallTablet {
      &__subtitle {
         padding-bottom: 3px;
         font-size: 0.9rem;
      }
   }

   @include smallScreen {
      &__subtitle {
         padding-bottom: 6px;
         font-size: 1rem;
      }
   }

   &__content {
      max-width: 100%;
      min-height: 24px;
      padding-bottom: 30px;
      line-height: 24px;
      font-weight: normal;
      color: $grey;
   }

   @include smallScreen {
      &__content {
         padding-bottom: 15px;
         font-size: 0.9rem;
      }
   }

   @include smallTablet {
      &__content {
         padding-bottom: 5px;
         font-size: 0.8rem;
      }
   }

   @include phone {
      &__content {
         min-height: 20px;
         padding-bottom: 10px;
         font-size: 0.8rem;
      }
   }

   &__picture {
      max-height: 524px;
      font-weight: normal;
      font-size: 0.7rem;
   }

   @include smallScreen {
      &__picture {
         min-width: 400px;
      }
   }

   &__button:hover {
      border-color: $red;
      background-color: $grey;
      cursor: pointer;
   }

   &__button {
      min-width: 130px;
      min-height: 52px;
      margin-left: 50%;
      margin-bottom: 20px;
      background: $blue;
      border-radius: 8px;
      color: $white;
   }

   @include smallScreen {
      &__button {
         margin: -10px 0 20px 50%;
      }
   }

   @include bigTablet {
      &__button {
         margin-left: 0;
      }
   }

   @include smallTablet {
      &__button {
         margin: 30px 0 20px 0;
      }
   }

   @include phone {
      &__button {
         margin-left: 0;
      }
   }
}

.for-headhunters {
   max-width: 80%;
   margin: 0 auto;

   &__title {
      max-width: 400px;
      min-height: 56px;
      margin-top: 110px;
      margin-bottom: 48px;
      font-size: 2.5rem;
   }

   @include phone {
      &__title {
         margin-top: 30px;
         margin-bottom: 0px;
         font-size: 1.5rem;
      }
   }

   @include smallTablet {
      &__title {
         margin-top: 50px;
         margin-bottom: 0;
         font-size: 2rem;
      }
   }

   @include bigTablet {
      &__title {
         margin-top: 60px;
         margin-bottom: 0;
      }
   }

   @include smallScreen {
      &__title {
         margin-top: 70px;
         margin-bottom: 20px;
      }
   }

   @include mediumScreen {
      &__title {
         margin-top: 90px;
         margin-bottom: 30px;
      }
   }

   &__container {
      display: flex;
      flex-direction: row;
   }

   @include phone {
      &__container {
         display: flex;
         flex-direction: column;
      }
   }

   @include smallTablet {
      &__container {
         display: flex;
         flex-direction: column;
      }
   }

   @include bigTablet {
      &__container {
         display: flex;
         flex-direction: column;
      }
   }

   &__text {
      max-height: 300px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }

   @include phone {
      &__text {
         max-height: 450px;
         display: flex;
         flex-direction: row;
      }
   }

   @include bigTablet {
      &__text {
         max-height: 300px;
      }
   }

   &__text-block {
      max-width: 50%;
      min-height: 60px;
      padding-right: 40px;
   }

   @include phone {
      &__text-block {
         max-width: 100%;
         padding-right: 0;
      }
   }

   @include smallTablet {
      &__text-block {
         max-width: 100%;
         padding-right: 0;
      }
   }

   &__subtitle {
      max-width: 100%;
      min-height: 26px;
      padding-bottom: 8px;
      font-size: 1.1rem;
      line-height: 26px;
   }

   @include phone {
      &__subtitle {
         padding-bottom: 2px;
         font-size: 1rem;
      }
   }

   @include smallTablet {
      &__subtitle {
         padding-bottom: 3px;
         font-size: 1rem;
      }
   }

   @include smallScreen {
      &__subtitle {
         padding-bottom: 6px;
         font-size: 1rem;
      }
   }

   &__content {
      max-width: 100%;
      min-height: 24px;
      padding-bottom: 30px;
      line-height: 24px;
      font-weight: normal;
      color: $grey;
   }

   @include phone {
      &__content {
         min-height: 20px;
         padding-bottom: 10px;
         font-size: 0.8rem;
      }
   }

   @include smallTablet {
      &__content {
         padding-bottom: 5px;
         font-size: 0.8rem;
      }
   }

   @include smallScreen {
      &__content {
         padding-bottom: 15px;
         font-size: 0.9rem;
      }
   }

   &__picture {

      max-height: 524px;
      font-weight: normal;
      font-size: 0.7rem;
   }

   @include smallScreen {
      &__picture {
         min-width: 400px;
      }
   }

   &__button:hover {
      border-color: $red;
      background-color: $grey;
      cursor: pointer;
   }

   &__button {
      min-width: 150px;
      min-height: 52px;
      background: $blue;
      border-radius: 8px;
      color: $white;
   }

   @include phone {
      &__button {
         margin: 20px 0 30px 0;
      }
   }

   @include smallTablet {
      &__button {
         margin: 20px 0 30px 0;
      }
   }

   @include bigTablet {
      &__button {
         margin: 20px 0 30px 0;
      }
   }

   @include smallScreen {
      &__button {
         margin: -230px 0 20px 0;
      }
   }

}

.client {
   margin-top: 50px;
   padding-top: 100px;
   background: #ECF8FE;
   min-height: 780px;

   &__container {
      max-width: 80%;
      margin: 0 auto;
   }

   &__title {
      max-width: 400px;
      font-size: 2.5rem;
      line-height: 56px;
   }

   @include phone {
      &__title {
         font-size: 1.5rem;
      }
   }

   @include smallTablet {
      &__title {
         font-size: 2rem;
      }
   }

   &__subtitle {
      max-width: 700px;
      margin-bottom: 56px;
      font-size: 1.1rem;
      line-height: 30px;
      font-weight: normal;
      color: $grey;
   }

   @include phone {
      &__subtitle {
         margin-bottom: 10px;
         font-size: 0.8rem;
      }
   }

   @include smallTablet {
      &__subtitle {
         margin-bottom: 15px;
         font-size: 1rem;
      }
   }

   @include bigTablet {
      &__subtitle {
         margin-bottom: 20px;
      }
   }

   &__details {
      display: flex;
      flex-direction: row;
      max-height: 410px;
   }

   @include phone {
      &__details {
         display: flex;
         flex-direction: column;
      }
   }

   @include smallTablet {
      &__details {
         display: flex;
         flex-direction: column;
      }
   }

   @include bigTablet {
      &__details {
         display: flex;
         flex-direction: column;
      }
   }

   &__item {
      min-width: 33%;
      margin-right: 30px;
      border-radius: 8px;
      background: $white;
   }

   @include phone {
      &__item {
         margin-right: 0;
         margin-top: 30px;
      }
   }

   @include smallTablet {
      &__item {
         margin-right: 0;
         margin-top: 30px;
      }
   }

   @include bigTablet {
      &__item {
         margin-right: 0;
         margin-top: 40px;
      }
   }

   &__icon-star {
      min-width: 70px;
      min-height: 42px;
      margin: 32px 45px 0px;
      font-weight: normal;
      font-size: 0.7rem;
   }

   &__item-title {
      min-width: 80%;
      min-height: 42px;
      margin: 30px 45px 16px;
      font-size: 1.25rem;
      line-height: 28px;
   }

   @include bigTablet {
      &__item-title {
         margin: 30px 45px 10px;
      }
   }

   &__item-text {
      min-width: 80%;
      min-height: 96px;
      margin: 16px 45px;
      font-weight: normal;
      line-height: 24px;
   }

   @include bigTablet {
      &__item-text {
         margin: 0 45px;
      }
   }

   &__picture {
      min-width: 40px;
      min-height: 40px;
      margin: 30px 45px 16px;
      font-weight: normal;
      font-size: 0.7rem;
   }

   &__name {
      min-width: 80%;
      min-height: 96px;
      margin: -60px 100px 0;
      font-weight: normal;
      line-height: 24px;
   }

   &__position {
      min-width: 80%;
      min-height: 96px;
      margin: -70px 100px 0;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 24px;
   }

   &__slider {
      max-width: 80px;
      min-height: 20px;
      margin: 25px 0 0 50%;
      font-weight: normal;
      font-size: 0.7rem;
   }

   @include phone {
      &__slider {
         max-width: 40px;
         min-height: 20px;
         margin: 1020px 40% 20px;
      }
   }

   @include smallTablet {
      &__slider {
         max-width: 60px;
         min-height: 20px;
         margin: 1000px 45% 20px;
      }
   }

   @include bigTablet {
      &__slider {
         margin: 970px 45% 20px;
      }
   }
}

@include phone {
   .client {
      padding-top: 40px;
      min-height: 1650px;
   }
}

@include smallTablet {
   .client {
      padding-top: 50px;
      min-height: 1600px;
   }
}

@include bigTablet {
   .client {
      padding-top: 60px;
      min-height: 1600px;
   }
}

.numbers {
   max-width: 80%;
   margin: 0 auto;

   &__title {
      max-width: 500px;
      margin-top: 100px;
      font-size: 2.5rem;
      line-height: 56px;
   }

   @include phone {
      &__title {
         margin-top: 30px;
         font-size: 1.2rem;
      }
   }

   @include smallTablet {
      &__title {
         margin-top: 50px;
         font-size: 1.5rem;
      }
   }

   &__subtitle {
      max-width: 600px;
      margin-bottom: 56px;
      font-size: 1.1rem;
      line-height: 32px;
      font-weight: normal;
      color: $grey;
   }

   @include phone {
      &__subtitle {
         margin-bottom: 10px;
         font-size: 0.8rem;
      }
   }

   @include smallTablet {
      &__subtitle {
         margin-bottom: 15px;
         font-size: 1rem;
      }
   }

   @include bigTablet {
      &__subtitle {
         margin-bottom: 20px;
      }
   }

   &__details {
      display: flex;
      flex-direction: row;
      min-height: 266px;
      padding-bottom: 30px;
   }

   @include phone {
      &__details {
         display: flex;
         flex-direction: column;
      }
   }

   @include smallTablet {
      &__details {
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
   }

   &__item {
      min-width: 25%;
      margin-right: 30px;
      border-radius: 16px;
      background: $lightgrey;
   }

   @include phone {
      &__item {
         margin-bottom: 20px;
      }
   }

   @include smallTablet {
      &__item {
         margin-bottom: 10px;
      }
   }

   @include bigTablet {
      &__item {
         margin-right: 20px;
      }
   }

   &__item-picture {
      min-width: 35%;
      max-height: 90px;
      margin: 40px 30% 0;
      font-weight: normal;
      font-size: 0.7rem;
   }

   @include smallTablet {
      &__item-picture {
         min-width: 20%;
         max-height: 70px;
         margin: 25px 0 0 33%;
      }
   }

   @include bigTablet {
      &__item-picture {
         min-width: 25%;
         max-height: 70px;
         margin: 40px 0 0 33%;
      }
   }

   &__item-amount {
      min-width: 100%;
      min-height: 56px;
      text-align: center;
      font-size: 2.5rem;
      line-height: 56px;
   }

   &__item-description {
      min-width: 100%;
      min-height: 32px;
      text-align: center;
      font-size: 1.1rem;
      font-weight: normal;
      line-height: 32px;
      color: $grey;
   }
}

.news {
   max-width: 80%;
   margin: 0 auto;

   &__title-general {
      max-width: 200px;
      margin-top: 100px;
      margin-bottom: 20px;
      font-size: 2.5rem;
      line-height: 56px;
   }

   @include phone {
      &__title-general {
         margin-top: 30px;
      }
   }

   @include smallTablet {
      &__title-general {
         margin-top: 50px;
      }
   }

   &__all {
      text-align: right;
      margin: 0 0 20px 0;
      font-size: 0.9rem;
      line-height: 20px;
      color: $grey;
   }

   &__all:hover {
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      color: darken($grey, 30%);
   }

   &__details {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -30px;
   }

   &__item {
      min-width: 30%;
      display: flex;
      flex-direction: column;
      margin-right: 30px;
   }

   &__picture-item {
      max-width: 100%;
      max-height: 200px;
      justify-content: center;
      font-weight: normal;
      font-size: 0.7rem;
   }

   &__title {
      max-width: 400px;
      margin: 24px 0;
      padding-left: 30px;
      font-size: 1.25rem;
      line-height: 28px;
   }

   @include phone {
      &__title {
         margin: 5px 0 15px;
         padding-left: 10px;
      }
   }

   @include smallTablet {
      &__title {
         margin: 5px 0 15px;
         padding-left: 10px;
      }
   }

   @include bigTablet {
      &__title {
         margin: 5px 0 15px;
         padding-left: 10px;
      }
   }

   &__content {
      max-width: 400px;
      margin-bottom: 30px;
      padding-left: 30px;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 24px;
      color: $grey;
   }

   @include phone {
      &__content {
         margin: 5px 0 15px;
         padding-left: 10px;
      }
   }

   @include smallTablet {
      &__content {
         margin: 5px 0 15px;
         padding-left: 10px;
      }
   }

   @include bigTablet {
      &__content {
         margin: 5px 0 15px;
         padding-left: 10px;
      }
   }
}

.cookies {
   background-color: $grey;
   min-height: 130px;
   display: flex;

   &__text {
      max-width: 65%;
   }

   &__text-bold {
      padding: 20px 0 5px 400px;
      font-size: 0.9rem;
      line-height: 16px;
   }

   @include phone {
      &__text-bold {
         max-width: 90%;
         padding: 10px 0 0 30px;
         font-size: 0.7rem;
      }
   }

   @include smallTablet {
      &__text-bold {
         max-width: 90%;
         padding: 10px 0 0 50px;
         font-size: 0.7rem;
      }
   }

   @include bigTablet {
      &__text-bold {
         max-width: 80%;
         padding: 20px 0 0 150px;
      }
   }

   @include smallScreen {
      &__text-bold {
         max-width: 75%;
         padding: 20px 0 5px 300px;
      }
   }

   &__text-normal {
      padding: 0 0 20px 400px;
      font-size: 0.9rem;
      font-weight: normal;
      text-align: justify;
      line-height: 16px;
   }

   @include phone {
      &__text-normal {
         max-width: 90%;
         padding: 0 0 0 30px;
         font-size: 0.7rem;
      }
   }

   @include smallTablet {
      &__text-normal {
         max-width: 90%;
         padding: 0 0 0 50px;
         font-size: 0.7rem;
      }
   }

   @include bigTablet {
      &__text-normal {
         max-width: 80%;
         padding: 0 0 0 150px;
      }
   }

   @include smallScreen {
      &__text-normal {
         max-width: 75%;
         padding: 0 0 0 300px;
      }
   }

   &__button:hover {
      border-color: $red;
      background-color: darken($grey, 35%);
      cursor: pointer;
   }

   &__button {
      min-width: 100px;
		background-color: #231F20;
		border-radius: 100px;
		text-align: center;
      font-size: 0.9rem;
      line-height: 20px;
      color: $white;
   }

   /* @include phone {
      &__button {
         min-width: 70px;
         min-height: 30px;
         margin: 10px 0 10px 30px;
         font-size: 0.8rem;
      }
   }

   @include smallTablet {
      &__button {
         min-width: 70px;
         min-height: 30px;
         margin: 10px 0 10px 50px;
         font-size: 0.8rem;
      }
   }

   @include bigTablet {
      &__button {
         margin: 10px 0 20px 450px;
      }
   }

   @include smallScreen {
      &__button {
         margin: 10px 0 20px 600px;
      }
   }

   @include mediumScreen {
      &__button {
         margin: -130px 0 0 1080px;
      }
   } */
}

.other-info {
   background-color: #231F20;
   min-height: 360px;
   padding: 64px 0 64px 165px;
   display: flex;
   
   &__i-tapp {
      display: flex;
      flex-direction: column;
   }

   @include smallTablet {
      &__i-tapp {
         order: 3;
         margin-bottom: 30px;
      }
   }

   @include phone {
      &__i-tapp {
         margin-bottom: 20px;
      }
   }

   &__i-tapp-text {

      width: 350px;
      //padding-right: 400px;
      margin-bottom: 8px;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 24px;
      color: $white;

      &_header {
         margin-bottom: 40px;
         font-family: Montserrat;
         font-size: 1.9rem;
         line-height: 37px;
         color: $white;
      }

      @include bigTablet {
         &_header {
            margin-bottom: 30px;
            font-size: 1.5rem;
         }
      }

      @include smallTablet {
         &_header {
            margin-bottom: 15px;
         }
      }
   }

   @include mediumScreen {
      &__i-tapp-text {
         padding-right: 300px;
      }
   }

   @include smallScreen {
      &__i-tapp-text {
         padding-right: 200px;
      }
   }

   @include bigTablet {
      &__i-tapp-text {
         padding-right: 100px;
         font-size: 0.6rem;
      }
   }

   @include smallTablet {
      &__i-tapp-text {
         padding-right: 0;
      }
   }

   &__company {
      display: flex;
      flex-direction: column;
   }

   @include smallTablet {
      &__company {
         margin-bottom: 30px;
      }
   }

   @include phone {
      &__company {
         margin-bottom: 20px;
      }
   }

   &__company-text:hover {
      color: $grey;
      cursor: pointer;
   }

   &__company-text {

      width: 160px;
      padding-right: 250px;
      margin-bottom: 12px;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 26px;
      color: $white;

      &_header {
         margin-bottom: 24px;
         font-size: 1.25rem;
         line-height: 28px;
         color: $white;
      }

      @include bigTablet {
         &_header {
            margin-bottom: 20px;
            font-size: 1.1rem;
         }
      }

      @include smallTablet {
         &_header {
            margin-bottom: 15px;
            font-size: 1.1rem;
         }
      }

   }

   @include mediumScreen {
      &__company-text {
         padding-right: 200px;
      }
   }

   @include smallScreen {
      &__company-text {
         padding-right: 150px;
      }
   }

   @include bigTablet {
      &__company-text {
         padding-right: 90px;
         font-size: 0.7rem;
      }
   }

   @include smallTablet {
      &__company-text {
         padding-right: 0;
      }
   }

   &__jobs {
      display: flex;
      flex-direction: column;
   }

   @include smallTablet {
      &__jobs {
         margin-bottom: 30px;
      }
   }

   @include phone {
      &__jobs {
         margin-bottom: 20px;
      }
   }

   &__jobs-text:hover {
      color: $grey;
      cursor: pointer;
   }

   &__jobs-text {
      width: 160px;
      margin-bottom: 12px;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 26px;
      color: $white;

      &_header {
         margin-bottom: 24px;
         font-size: 1.25rem;
         line-height: 28px;
         color: $white;
      }

      @include bigTablet {
         &_header {
            margin-bottom: 20px;
            font-size: 1.1rem;
         }
      }

      @include smallTablet {
         &_header {
            margin-bottom: 15px;
         }
      }
   }
}

@include bigTablet {
   .other-info {
      padding: 64px 120px;
   }
}

@include smallTablet {
   .other-info {
      padding: 50px 100px;
      display: flex;
      flex-direction: column;
   }
}

@include phone {
   .other-info {
      padding: 20px 80px;
   }
}