//@mixin bigscreen {
//   @media (max-width:1200px) {
//      @content;
//   }
//}

//.main {
//   .header {
//     width: 80%;
//     margin: 0 auto;
//     height: 200px;
//     background-color: #2E1AAD;
//   }

//   @include bigscreen {
//      .header {
//        width: 100%;
//      }
//   }
//}

.menu-top {
   max-width: 1920px;
   margin: 0px auto;
   padding: 0px 11.3%;
   height: 80px;
   position: fixed;
   inset: 0;
   background: #FFFFFF;

   &__logo {
      position: absolute;
      width: 8.6%;
      height: 29.93px;
      inset: 25.36px 9.17%;
   }

   &__left-nav {
      display: flex;
      flex-direction: row;
      width: 31.67%;
      height: 32px;
      position: absolute;
      inset: 24px 18.75%;
   }

   &__item {
      width: 2.78%px;
      height: 20px;
      padding: 6px 0%;
      position: static;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'liga'off;
      color: #999999;
      margin: 0px 2.22%;

      &_main {
         color: #2E1AAD;
      }
   }

   &__right-nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 40px;
      position: absolute;
      inset: 20px 53.68%;
   }

   &__employers {
      width: 6.60%;
      height: 20px;
      position: static;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'liga'off;
      color: #999999;
      margin: 10px 2.22% 10px 0%;
   }

   &__headhunters {
      width: 7.85%;
      height: 20px;
      position: static;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'liga'off;
      color: #999999;
      margin: 0.69% 0%;
   }

   &__buttons {

      :hover {
         border-color: red;
         background-color: #999999;
      }

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 14.86%;
      height: 40px;
      margin-left: 3.33%;
   }

   &__login {
      width: 50%;
      height: 40px;
      border-radius: 8px;
      border-color: #2E1AAD;
      background-color: #FFFFFF;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga'off;
      color: #2E1AAD;
   }

   &__signup {
      width: 50%;
      height: 40px;
      margin: 0px 0% 0px 6.54%;
      border-radius: 8px;
      border-color: #2E1AAD;
      background-color: #2E1AAD;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga'off;
      color: #FFFFFF;
   }
}

.search-field {

   &__content {
      max-width: 1920px;
      margin: 0px auto;
      padding: 0px 11.3%;
      height: 763px;
      position: absolute;
      inset: 81px 0%;
      background-color: #F5F7FA;
   }

   &__title {
      width: 37.92%;
      height: 120px;
      position: absolute;
      inset: 218px 11.47%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 60px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__subtitle {
      width: 33.61%;
      height: 60px;
      position: absolute;
      inset: 366px 11.53%;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__picture {
      width: 40.63%;
      height: 436px;
      position: absolute;
      inset: 71px 51.46%;
   }

   &__details {
      width: 100%;
      height: 96px;
      display: flex;
      flex-direction: row;
      position: relative;
      top: 555px;
      border-radius: 8px;
      background-color: #FFFFFF;
   }

   &__first-field {
      width: 28.38%;
      height: 46px;
      padding-left: 16px;
      border-radius: 8px;
      position: absolute;
      inset: 22px 2.88%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      color: #999999;
   }

   &__second-field {
      width: 24.77%;
      height: 46px;
      padding-left: 16px;
      border-radius: 8px;
      position: absolute;
      inset: 22px 34.86%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__third-field {

      width: 19.91%;
      height: 52px;
      padding-left: 16px;
      border-radius: 8px;
      position: absolute;
      inset: 22px 63.24%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__fourth-field:hover {
      border-color: red;
      background-color: #999999;
   }

   &__fourth-field {

      width: 10.36%;
      height: 52px;
      border-radius: 8px;
      position: absolute;
      inset: 22px 86.76%;
      background: #2E1AAD;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga'off;
      color: #FFFFFF;
   }
}

.for-candidates {

   max-width: 1920px;
   margin: 0px auto;
   padding: 0px 11.3%;

   &__title {
      position: absolute;
      inset: 956px 11.3%;
      width: 20.63%;
      margin-bottom: 48px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 56px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__text {
      width: 40%;
      height: 418px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      top: 1060px;
   }

   &__subtitle {
      width: 90%;
      height: 26px;
      margin-bottom: 8px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__content {
      width: 90%;
      height: 48px;
      margin-bottom: 30px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__picture {
      width: 45%;
      height: 530px;
      position: absolute;
      inset: 959px 50%;
   }
}

.for-employers {

   max-width: 1920px;
   margin: 0px auto;
   padding: 0px 11.3%;

   &__title {
      position: absolute;
      inset: 1648px 50%;
      width: 19.16%;
      margin-bottom: 48px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 56px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__text {
      width: 40%;
      height: 502px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      inset: 1752px 50%;
   }

   &__subtitle {
      width: 90%;
      height: 26px;
      margin-bottom: 8px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__content {
      width: 90%;
      height: 48px;
      margin-bottom: 30px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__button:hover {
      border-color: red;
      background-color: #999999;
   }

   &__button {

      width: 24.81%;
      height: 52px;
      position: absolute;
      inset: 514px 0% 0px;
      background: #2E1AAD;
      border-radius: 8px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga'off;
      color: #FFFFFF;
   }

   &__picture {
      width: 45%;
      height: 530px;
      position: absolute;
      inset: 1625px 5%;
   }
}

.for-headhunters {

   max-width: 1920px;
   margin: 0px auto;
   padding: 0px 11.3%;

   &__title {
      width: 22.71%;
      position: absolute;
      inset: 2390px 11.3%;
      margin-bottom: 48px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 56px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__text {
      width: 40%;
      height: 296px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      inset: 2494px 11.3%;
   }

   &__subtitle {
      width: 90%;
      height: 26px;
      margin-bottom: 8px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__content {
      width: 90%;
      height: 48px;
      margin-bottom: 30px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__button:hover {
      border-color: red;
      background-color: #999999;
   }

   &__button {

      width: 28.52%;
      height: 52px;
      position: absolute;
      inset: 292px 376px 0px 0px;
      background: #2E1AAD;
      border-radius: 8px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga'off;
      color: #FFFFFF;
   }

   &__picture {
      width: 45%;
      height: 530px;
      position: absolute;
      inset: 2291px 50%;

   }
}

.client {

   &__content {
      max-width: 1920px;
      margin: 0px auto;
      padding: 0px 11.3%;
      height: 846px;
      position: absolute;
      inset: 2941px 0%;
      background: #ECF8FE;
   }

   &__title {
      width: 23.68%;
      height: 56px;
      margin-top: 112px;
      position: absolute;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 56px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__subtitle {
      width: 29.65%;
      height: 30px;
      margin-top: 176px;
      position: absolute;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__details {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 262px;
   }

   &__item {
      width: 33.3%;
      height: 410px;
      margin-right: 2.63%;
      position: relative;
      border-radius: 16px;
      background: #FFFFFF;
      border-radius: 8px;
   }

   &__icon-star {
      width: 18.57%;
      height: 42.02px;
      position: absolute;
      inset: 32px 11.43%;
   }

   &__item-title {
      position: absolute;
      inset: 100px 11.4%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 28px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__item-text {
      width: 77.14%;
      height: 96px;
      position: absolute;
      inset: 144px 11.4%;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__picture {
      width: 11.4%;
      height: 40px;
      position: absolute;
      inset: 335px 11.4%;
   }

   &__name {
      position: absolute;
      inset: 332px 26.29%;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__position {
      position: absolute;
      inset: 354px 26.29%;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }
}

.numbers {

   &__title {
      position: absolute;
      width: 560px;
      height: 56px;
      left: 165px;
      top: 3907px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 56px;
      font-feature-settings: 'liga'off;
      color: #231F20;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 8px 0px;
   }

   &__subtitle {
      position: absolute;
      width: 500px;
      height: 32px;
      left: 165px;
      top: 3971px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }

   &__details {
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 165px;
      top: 4059px;
   }

   &__item {
      width: 255px;
      height: 266px;
      margin-right: 30px;
      position: relative;
      background: #F5F7FA;
      border-radius: 16px;
   }

   &__item-picture {
      position: absolute;
      width: 97.8px;
      height: 90.13px;
      left: 71.2px;
      top: 43.87px;
   }

   &__item-amount {
      width: 255px;
      height: 56px;
      position: absolute;
      top: 148px;
      text-align: center;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 56px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__item-description {
      width: 255px;
      height: 32px;
      position: absolute;
      top: 202px;
      text-align: center;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }
}

.news {

   &_title-general {
      position: absolute;
      width: 107px;
      height: 56px;
      left: 165px;
      top: 4432px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 56px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &__details {
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 165px;
      top: 4544px;
   }

   &_item {
      margin-right: 30px;
      position: relative;
      border-radius: 16px;
   }

   &_icon {
      width: 370px;
      background: url(.jpg);
      border-radius: 8px;
   }

   &__title {
      width: 370px;
      position: absolute;
      top: 226px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 28px;
      font-feature-settings: 'liga'off;
      color: #231F20;
   }

   &_content {
      position: absolute;
      top: 266px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #999999;
   }
}

.cookies {

   max-width: 1920px;
   margin: 0px auto;
   padding: 0px 11.3%;
   height: 134px;
   position: absolute;
   inset: 4908px 0%;
   background: #999999;


   &__text-bold {
      position: absolute;
      width: 36.39%;
      height: 86px;
      inset: 20px 25.42%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 16px;
      color: #231F20;
   }

   &__text-normal {
      position: absolute;
      width: 36.39%;
      height: 86px;
      inset: 37px 25.42%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #231F20;
   }

   &__button:hover {
      border-color: red;
      background-color: darken(#999999, 35%);
   }

   &__button {
      width: 7.78%;
      height: 40px;
      position: absolute;
      inset: 49px 64.93%;
      background: #231F20;
      border-radius: 100px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga'off;
      color: #FFFFFF;
   }
}

.other-info {

   position: absolute;
   width: 1920px;
   height: 360px;
   left: 0px;
   top: 5042px;
   background: #0B0D17;

   &__i-tapp {
      position: absolute;
      left: 165px;
      top: 64px;
   }

   &__i-tapp-header {
      position: static;
      width: 109px;
      height: 37px;
      left: 0px;
      top: 0px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 40px 0px;
   }

   &__i-tapp-text {
      position: static;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 57.14%;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      font-feature-settings: 'liga'off;
      color: #D9DBE1;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 8px 0px;
   }

   &__company {
      position: absolute;
      left: 640px;
      top: 64px;
   }

   &__company-header {
      position: static;
      width: 160px;
      height: 28px;
      left: 0px;
      top: 0px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 28px;
      font-feature-settings: 'liga'off;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 24px 0px;
   }

   &__company-text:hover {
      border-radius: 8px;
      background-color: #999999;
   }

   &__company-text {

      position: static;
      width: 200px;
      height: 26px;
      left: 0px;
      top: 0px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      font-feature-settings: 'liga'off;
      color: #D9DBE1;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 12px 0px;
   }

   &__jobs {
      position: absolute;
      left: 855px;
      top: 64px;
   }

   &__jobs-header {
      position: static;
      width: 160px;
      height: 28px;
      left: 0px;
      top: 0px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 28px;
      font-feature-settings: 'liga'off;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 24px 0px;
   }

   &__jobs-text:hover {
      border-radius: 8px;
      background-color: #999999;
   }

   &__jobs-text {
      position: static;
      width: 160px;
      height: 26px;
      left: 0px;
      top: 0px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      font-feature-settings: 'liga'off;
      color: #D9DBE1;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 12px 0px;
   }
}

@mixin bigscreen {
   @media (max-width:1960px) {
      @content;
   }
}